# Capstone project - Data cleaning 
---
__Author:__ Camilo Martinez  
__Start date:__ 2022-07-22  
__Modification date:__ 2022-07-23

In [ ]:
# %%capture

# # Installing Java JDK and Spark 3.2.2
# !sudo apt update
# !apt-get install openjdk-8-jdk-headless -qq > /dev/null
# !wget -q https://dlcdn.apache.org/spark/spark-3.2.2/spark-3.2.2-bin-hadoop3.2.tgz
# !tar xf spark-3.2.2-bin-hadoop3.2.tgz

# #!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
# #!tar xf spark-3.2.1-bin-hadoop3.2.tgz

In [1]:
%%capture
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
#!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.2/spark-3.2.2-bin-hadoop3.2.tgz
!tar xf spark-3.2.2-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
#os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"
os.environ["SPARK_HOME"] = "/content/spark-3.2.2-bin-hadoop3.2"
# os.environ["PYSPARK_SUBMIT_ARGS"] = "--jars /content/com.databricks:spark-xml_2.12:0.15.0 pyspark-shell"
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.12:0.12.0 pyspark-shell'

import findspark

findspark.init()
findspark.find()

In [2]:
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.12:0.12.0 pyspark-shell'
# findspark.init()
# findspark.find()

In [3]:
%%capture

# !pip install -q findspark
# !pip install pyspark
!pip install pg8000

In [4]:
# import os

# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# #os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.2-bin-hadoop3.2"
# # os.environ["PYSPARK_SUBMIT_ARGS"] = "--jars /content/com.databricks:spark-xml_2.12:0.15.0 pyspark-shell"
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.12:0.12.0 pyspark-shell'

In [5]:
# !$SPARK_HOME/bin/spark-shell --packages com.databricks:spark-xml_2.11:0.4.1
# !$SPARK_HOME/bin/spark-shell --packages com.databricks:spark-xml_2.12:0.15.0
# !pyspark --packages com.databricks:spark-xml_2.11:0.4.1
# !spark-submit --jars spark-xml_2.12-0.6.0.jar

## Libraries

In [6]:
import os
import re
import nltk
import json
import pg8000
import joblib
import sqlalchemy
import findspark

from google.colab import auth
from google.cloud import storage

from pyspark.sql import DataFrame, SparkSession 
from pyspark.ml.feature import Tokenizer, StopWordsRemover
from pyspark.sql.functions import col, size, when, array_contains,\
    countDistinct, regexp_replace, concat, last, first, round, count,\
    sum as sum_pyspark, max as max_pyspark

In [7]:
BUCKET_NAME = "capstone-project-dev"

STOPWORDS_PATH = \
    f"gs://{BUCKET_NAME}/Others/stopwords_english.pkl"

In [11]:
def get_bucket_blobname(gcs_path):
    gcs_path_ = re.match("gs://([^/]+)/(.+)", gcs_path)
    bucket, blob_name = gcs_path_.group(1), gcs_path_.group(2)
    
    return bucket, blob_name


def read_file_from_gcs(gcs_path):

    storage_client = storage.Client()
    bucket, blob_name = get_bucket_blobname(gcs_path)
    filename = blob_name.split('/')[-1]

    bucket_ = storage_client.bucket(bucket)
    blob = bucket_.blob(blob_name)
    blob.download_to_filename(filename)

    return filename


def read_json_from_gcs(gcs_path):

    filename = read_file_from_gcs(gcs_path)
    data = json.loads(open(filename, 'r').read())
    os.remove(filename)

    return data


def read_pickle_from_gcs(gcs_path):

    filename = read_file_from_gcs(gcs_path)
    data = joblib.load(filename)
    os.remove(filename)

    return data


def upload_file_to_gcs(bucket, blob_name, filename):
    storage_client = storage.Client()
    bucket_ = storage_client.bucket(bucket)
    blob = bucket_.blob(f"{blob_name}{filename}")

    blob.upload_from_filename(filename)

## Install Spark

In [ ]:
# %%capture
# !sudo apt update
# !apt-get install openjdk-8-jdk-headless -qq > /dev/null
# #!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
# #!tar xf spark-3.2.1-bin-hadoop3.2.tgz
# !wget -q https://dlcdn.apache.org/spark/spark-3.2.2/spark-3.2.2-bin-hadoop3.2.tgz
# !tar xf spark-3.2.2-bin-hadoop3.2.tgz
# !pip install -q findspark
# !pip install pyspark
# import os
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# #os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.2-bin-hadoop3.2"
# # os.environ["PYSPARK_SUBMIT_ARGS"] = "--jars /content/com.databricks:spark-xml_2.12:0.15.0 pyspark-shell"
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.12:0.12.0 pyspark-shell'

# import findspark

# findspark.init()
# findspark.find()

```
%%capture
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
#!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.2/spark-3.2.2-bin-hadoop3.2.tgz
!tar xf spark-3.2.2-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
#os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"
os.environ["SPARK_HOME"] = "/content/spark-3.2.2-bin-hadoop3.2"

import findspark

findspark.init()
findspark.find()

```

## Start spark session

In [9]:
spark = SparkSession \
       .builder \
       .appName("<Our First Spark example") \
       .config('spark.ui.port', '4050') \
       .getOrCreate()

spark

In [ ]:
# spark.stop()

In [ ]:
# %%capture

# !wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
# !unzip ngrok-stable-linux-amd64.zip

In [ ]:
# !curl -s http://localhost:4040/api/tunnels

In [ ]:
# get_ipython().system_raw("spark ui --port 80 &")

In [ ]:
# %%capture

# !pip install pyngrok

In [ ]:
# from pyngrok import ngrok

In [ ]:
# get_ipython().system_raw('./ngrok http 4050 &')
# # get_ipython().system_raw("spark ui --port 4050 &")

In [ ]:
# # Terminate ngrok port
# ngrok.kill()

# # Set authentication (optional)
# # Get your authentication token via https://dashboard.ngrok.com/auth
# NGROK_AUTH_TOKEN = "2Cr50ATq1S0nULHoIieDvoBfAMk_bgWTYe8hgoGngmgnWj7M"
# ngrok.set_auth_token(NGROK_AUTH_TOKEN)

# # Open an HTTPs tunnel on port 80 for http://localhost:80
# public_url = ngrok.connect(
#     port="4050", proto="http", options={"bind_tls": True}
# )

# print("Spark Tracking UI:", public_url)

In [ ]:
# !ngrok authtoken "2Cr50ATq1S0nULHoIieDvoBfAMk_bgWTYe8hgoGngmgnWj7M"
# get_ipython().system_raw('ngrok config add-authtoken 2Cr50ATq1S0nULHoIieDvoBfAMk_bgWTYe8hgoGngmgnWj7M')

Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

## Authenticate to google

In [10]:
auth.authenticate_user()

## Reading Raw Data

### Creating copying folders info from GCS

In [242]:
import pandas as pd
pd.read_csv("/content/capstone-project-dev/GDrive/user_purchase.csv", sep=',').head(2).to_csv(
    'temp_file.csv', header=False, index=False)

In [238]:
!mkdir "/content/capstone-project-dev"
!mkdir "/content/capstone-project-dev/Raw"
!mkdir "/content/capstone-project-dev/GDrive"
!mkdir "/content/capstone-project-dev/Others"
!mkdir "/content/capstone-project-dev/Staging"
!mkdir "/content/capstone-project-dev/Staging2"

mkdir: cannot create directory ‘/content/capstone-project-dev’: File exists
mkdir: cannot create directory ‘/content/capstone-project-dev/Raw’: File exists
mkdir: cannot create directory ‘/content/capstone-project-dev/Others’: File exists
mkdir: cannot create directory ‘/content/capstone-project-dev/Staging’: File exists
mkdir: cannot create directory ‘/content/capstone-project-dev/Staging2’: File exists

In [13]:
!gsutil -m cp -r "gs://capstone-project-dev/Raw/*" "/content/capstone-project-dev/Raw/"

Copying gs://capstone-project-dev/Raw/log_reviews.csv...
Copying gs://capstone-project-dev/Raw/movie_review.csv...

In [239]:
!gsutil -m cp -r "gs://capstone-project-dev/GDrive/*" "/content/capstone-project-dev/GDrive/"

Copying gs://capstone-project-dev/GDrive/log_reviews.csv...
Copying gs://capstone-project-dev/GDrive/user_purchase.csv...
Copying gs://capstone-project-dev/GDrive/movie_review.csv...

In [166]:
!gsutil -m cp -r "gs://capstone-project-dev/Staging/*" "/content/capstone-project-dev/Staging2/"

Copying gs://capstone-project-dev/Staging/log_review/._SUCCESS.crc...
Copying gs://capstone-project-dev/Staging/log_review/_SUCCESS...
Copying gs://capstone-project-dev/Staging/log_review/.part-00000-daeeb4c2-54cf-4caa-93a2-a28247abc2d5-c000.snappy.parquet.crc...
Copying gs://capstone-project-dev/Staging/movie_review/.part-00000-6a82536b-13fc-4577-8490-73a0dbd95a78-c000.snappy.parquet.crc...
Copying gs://capstone-project-dev/Staging/log_review/part-00000-daeeb4c2-54cf-4caa-93a2-a28247abc2d5-c000.snappy.parquet...
Copying gs://capstone-project-dev/Staging/movie_review/part-00000-6a82536b-13fc-4577-8490-73a0dbd95a78-c000.snappy.parquet...
Copying gs://capstone-project-dev/Staging/movie_review/._SUCCESS.crc...
Copying gs://capstone-project-dev/Staging/movie_review/.part-00001-f6b8ded9-d62a-446e-9950-39fdb33dd109-c000.snappy.parquet.crc...
Copying gs://capstone-project-dev/Staging/movie_review/.part-00000-f6b8ded9-d62a-446e-9950-39fdb33dd109-c000.snappy.parquet.crc...
Copying gs://capstone-project-dev/Staging/movie_review/.part-00001-6a82536b-13fc-4577-8490-73a0dbd95a78-c000.snappy.parquet.crc...
Copying gs://capstone-project-dev/Staging/movie_review/_SUCCESS...
Copying gs://capstone-project-dev/Staging/movie_review/part-00000-f6b8ded9-d62a-446e-9950-39fdb33dd109-c000.snappy.parquet...
Copying gs://capstone-project-dev/Staging/movie_review/part-00001-6a82536b-13fc-4577-8490-73a0dbd95a78-c000.snappy.parquet...
Copying gs://capstone-project-dev/Staging/movie_review/part-00001-f6b8ded9-d62a-446e-9950-39fdb33dd109-c000.snappy.parquet...
Copying gs://capstone-project-dev/Staging/user_purchase/._SUCCESS.crc...
Copying gs://capstone-project-dev/Staging/user_purchase/.part-00000-3bb485ee-c26c-452b-ba50-6bffadbf84d1-c000.snappy.parquet.crc...
Copying gs://capstone-project-dev/Staging/user_purchase/.part-00000-d8ff1b01-951c-4b01-85c8-d873e295a444-c000.snappy.parquet.crc...
Copying gs://capstone-project-dev/Staging/user_purchase/.part-00001-3bb485ee-c26c-452b-ba50-6bffadbf84d1-c000.snappy.parquet.crc...
Copying gs://capstone-project-dev/Staging/user_purchase/.part-00001-d8ff1b01-951c-4b01-85c8-d873e295a444-c000.snappy.parquet.crc...
Copying gs://capstone-project-dev/Staging/user_purchase/_SUCCESS...
Copying gs://capstone-project-dev/Staging/user_purchase/part-00000-3bb485ee-c26c-452b-ba50-6bffadbf84d1-c000.snappy.parquet...
Copying gs://capstone-project-dev/Staging/user_purchase/part-00000-d8ff1b01-951c-4b01-85c8-d873e295a444-c000.snappy.parquet...
Copying gs://capstone-project-dev/Staging/user_purchase/part-00001-3bb485ee-c26c-452b-ba50-6bffadbf84d1-c000.snappy.parquet...
Copying gs://capstone-project-dev/Staging/user_purchase/part-00001-d8ff1b01-951c-4b01-85c8-d873e295a444-c000.snappy.parquet...
| [24/24 files][  7.9 MiB/  7.9 MiB] 100% Done
Operation completed over 24 objects/7.9 MiB.

In [117]:
!gsutil -m cp -r "gs://capstone-project-dev/Others/*" "/content/capstone-project-dev/Others/"

Copying gs://capstone-project-dev/Others/env_vars.json...
Copying gs://capstone-project-dev/Others/regions.csv...
Copying gs://capstone-project-dev/Others/stopwords_english.pkl...
Copying gs://capstone-project-dev/Others/us_census_regions.csv...

In [ ]:
!mkdir "/content/data-bootcamp-test-1-dev-data/Staging/log_reviews"

In [ ]:
!gsutil -m cp -r "gs://data-bootcamp-test-1-dev-data/Staging/log_reviews/*" "/content/data-bootcamp-test-1-dev-data/Staging/log_reviews/"

Copying gs://data-bootcamp-test-1-dev-data/Staging/log_reviews/_SUCCESS...
Copying gs://data-bootcamp-test-1-dev-data/Staging/log_reviews/part-00000-09e954e0-0f4c-4063-8995-25a2f38ad276-c000.snappy.parquet...

### User purchase (Query Cloud SQL)

In [ ]:
# upload_file_to_gcs(
#     BUCKET_NAME,
#     "Data_proc_scripts/",
#     "env_vars.json"
# )

In [ ]:
# with open("env_vars.json", "w") as f:
#     f.write(
#         json.dumps(
#             {
#                 "DB_USER": "postgres",
#                 "DB_PASS": "%:J:1=Fx;,jKnV^s",
#                 "DB_NAME": "postgres",
#                 "DB_HOST": "34.172.104.245",
#                 "DB_PORT": "5432"       
#             }
#         )
#     )

In [14]:
env_vars = read_json_from_gcs(
    "gs://capstone-project-dev/Others/env_vars.json"
)

In [15]:
os.environ["DB_USER"] = env_vars['DB_USER']
os.environ["DB_PASS"] = env_vars['DB_PASS']
os.environ["DB_NAME"] = env_vars['DB_NAME']
os.environ["DB_HOST"] = env_vars['DB_HOST']
os.environ["DB_PORT"] = env_vars['DB_PORT']

In [16]:
def init_connection_engine():
    db_config = {
        # [START cloud_sql_postgres_sqlalchemy_limit]
        # Pool size is the maximum number of permanent connections to keep.
        "pool_size": 5,
        # Temporarily exceeds the set pool_size if no connections are available.
        "max_overflow": 2,
        # The total number of concurrent connections for your application will be
        # a total of pool_size and max_overflow.
        # [END cloud_sql_postgres_sqlalchemy_limit]

        # [START cloud_sql_postgres_sqlalchemy_backoff]
        # SQLAlchemy automatically uses delays between failed connection attempts,
        # but provides no arguments for configuration.
        # [END cloud_sql_postgres_sqlalchemy_backoff]

        # [START cloud_sql_postgres_sqlalchemy_timeout]
        # 'pool_timeout' is the maximum number of seconds to wait when retrieving a
        # new connection from the pool. After the specified amount of time, an
        # exception will be thrown.
        "pool_timeout": 30,  # 30 seconds
        # [END cloud_sql_postgres_sqlalchemy_timeout]

        # [START cloud_sql_postgres_sqlalchemy_lifetime]
        # 'pool_recycle' is the maximum number of seconds a connection can persist.
        # Connections that live longer than the specified amount of time will be
        # reestablished
        "pool_recycle": 1800,  # 30 minutes
        # [END cloud_sql_postgres_sqlalchemy_lifetime]
    }

    if os.environ.get("DB_HOST"):
        if os.environ.get("DB_ROOT_CERT"):
            return init_tcp_sslcerts_connection_engine(db_config)
        return init_tcp_connection_engine(db_config)
    return init_unix_connection_engine(db_config)
    

def init_tcp_connection_engine(db_config):
    # [START cloud_sql_postgres_sqlalchemy_create_tcp]
    # Remember - storing secrets in plaintext is potentially unsafe. Consider using
    # something like https://cloud.google.com/secret-manager/docs/overview to help keep
    # secrets secret.
    db_user = os.environ["DB_USER"]
    db_pass = os.environ["DB_PASS"]
    db_name = os.environ["DB_NAME"]
    db_host = os.environ["DB_HOST"]

    # Extract port from db_host if present,
    # otherwise use DB_PORT environment variable.
    host_args = db_host.split(":")
    if len(host_args) == 1:
        db_hostname = db_host
        db_port = os.environ["DB_PORT"]
    elif len(host_args) == 2:
        db_hostname, db_port = host_args[0], int(host_args[1])

    pool = sqlalchemy.create_engine(
        # Equivalent URL:
        # postgresql+pg8000://<db_user>:<db_pass>@<db_host>:<db_port>/<db_name>
        sqlalchemy.engine.url.URL.create(
            drivername="postgresql+pg8000",
            username=db_user,  # e.g. "my-database-user"
            password=db_pass,  # e.g. "my-database-password"
            host=db_hostname,  # e.g. "127.0.0.1"
            port=db_port,  # e.g. 5432
            database=db_name  # e.g. "my-database-name"
        ),
        **db_config
    )
    # [END cloud_sql_postgres_sqlalchemy_create_tcp]
    pool.dialect.description_encoding = None
    return pool

In [17]:
db = init_connection_engine()

In [18]:
db

Engine(postgresql+pg8000://postgres:***@34.172.104.245:5432/postgres)

In [19]:
user_purchase_columns = [
    "invoice_number", "stock_code", "detail", "quantity",
    "invoice_date", "unit_price", "customer_id", "country"
]

query_user_purchase = """
    SELECT 
        invoice_number, 
        stock_code, 
        detail, 
        quantity,
        invoice_date, 
        CAST( unit_price AS FLOAT),
        customer_id,
        country
    FROM user_purchase
"""

In [20]:
with db.connect() as conn:
    # Execute the query and fetch all results
    user_purchase = conn.execute(query_user_purchase).fetchall()
    user_purchase = [purchase._asdict() for purchase in user_purchase]

In [21]:
len(user_purchase)

541908

In [22]:
df_user_purchase = spark.createDataFrame(user_purchase)

In [23]:
print(df_user_purchase.count())
df_user_purchase.show(10)

541908
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|       country|customer_id|              detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|        Norway|      12433|HAND WARMER OWL D...|2010-12-01 13:24:00|        536532|      12|     22865|       2.1|
|United Kingdom|         -1|        OWL DOORSTOP|2010-12-03 11:13:00|        536862|       2|     21116|      8.47|
|United Kingdom|         -1|       POTTERING MUG|2010-12-03 11:28:00|        536865|       2|     21876|      3.36|
|United Kingdom|         -1|                    |2010-12-03 15:41:00|        537017|     -69|    47556B|       0.0|
|United Kingdom|         -1|                    |2010-12-03 15:42:00|        537018|      -3|    84562A|       0.0|
|United Kingdom|         -1|                    |2010-12-03 15:43:00|        537019|     -15|     37474|       0.0|
|United Kingdom|         -1|                    |2010-12-03 15:43:00|        537020|     -30|     21807|       0.0|
|United Kingdom|         -1|                    |2010-12-03 15:43:00|        537021|     -20|     21011|       0.0|
|        France|      12567| LUNCH BAG CARS BLUE|2010-12-05 11:57:00|        537065|      10|     20728|      1.65|
|United Kingdom|      17591|        WICKER STAR |2010-12-07 15:39:00|        537646|       1|     22694|       2.1|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
only showing top 10 rows

In [24]:
# df_user_purchase\
#     .write.mode('overwrite')\
#     .parquet("user_purchase_file/")

In [25]:
df_user_purchase.printSchema()

root
 |-- country: string (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- detail: string (nullable = true)
 |-- invoice_date: timestamp (nullable = true)
 |-- invoice_number: string (nullable = true)
 |-- quantity: long (nullable = true)
 |-- stock_code: string (nullable = true)
 |-- unit_price: double (nullable = true)

#### Customers purcharses info
- Customers purcharses are from more than 37 countries.
- There are negative quantitives and prices.
- There are stock codes that should be ommit.
- Invoices numbers that starts with C have negative quantities.
- There is one year of purchases data from 2010-12 to 2011-12
- 25% of data don't have an indentifible customer_id. Those ones presents anomalies and aren't going to be considered.

In [26]:
df_user_purchase.summary().show()

+-------+-----------+------------------+-----------------+------------------+------------------+------------------+-----------------+
|summary|    country|       customer_id|           detail|    invoice_number|          quantity|        stock_code|       unit_price|
+-------+-----------+------------------+-----------------+------------------+------------------+------------------+-----------------+
|  count|     541908|            541908|           541908|            541908|            541908|            541908|           541908|
|   mean|       null|11476.717383762558|          20713.0| 559965.7955604121| 9.552265329170265|27623.240210938104|4.611094455141873|
| stddev|       null|6778.3340918705035|             null|13428.392302110915|218.08135875709738|16799.737628427698|96.75994130914027|
|    min|  Australia|                -1|                 |            536365|            -80995|             10002|        -11062.06|
|    25%|       null|             12352|          20713.0|          547906.0|                 1|           21929.0|             1.25|
|    50%|       null|             14381|          20713.0|          560650.0|                 3|           22569.0|             2.08|
|    75%|       null|             16255|          20713.0|          571841.0|                10|           23165.0|             4.13|
|    max|Unspecified|             18287|wrongly sold sets|           C581569|             80995|                 m|          38970.0|
+-------+-----------+------------------+-----------------+------------------+------------------+------------------+-----------------+

In [27]:
for col_ in df_user_purchase.columns:
    print(col_, ': ', df_user_purchase.select(col(col_)).distinct().count())
    df_user_purchase.select(col(col_)).distinct().show(10)

country :  38
+------------------+
|           country|
+------------------+
|            Sweden|
|         Singapore|
|           Germany|
|            France|
|            Greece|
|European Community|
|           Belgium|
|           Finland|
|             Malta|
|       Unspecified|
+------------------+
only showing top 10 rows

customer_id :  4373
+-----------+
|customer_id|
+-----------+
|      15194|
|      17048|
|      13098|
|      15057|
|      18196|
|      17499|
|      13452|
|      17043|
|      15437|
|      17979|
+-----------+
only showing top 10 rows

detail :  4224
+--------------------+
|              detail|
+--------------------+
|10 COLOUR SPACEBO...|
|SET/10 BLUE POLKA...|
|POTTING SHED SOW ...|
|PAPERWEIGHT KINGS...|
|WOVEN BERRIES CUS...|
|WHITE/PINK MINI C...|
|SET/3 RED GINGHAM...|
|MAGNETS PACK OF 4...|
|WHITE CHRYSANTHEM...|
|WHITE FRANGIPANI ...|
+--------------------+
only showing top 10 rows

invoice_date :  23259
+-------------------+
|       invoice_date|
+-------------------+
|2010-12-02 09:42:00|
|2010-12-09 10:00:00|
|2010-12-14 16:24:00|
|2010-12-15 12:29:00|
|2010-12-17 12:38:00|
|2011-01-09 14:02:00|
|2011-01-11 09:20:00|
|2011-01-23 13:58:00|
|2011-01-25 12:31:00|
|2011-01-31 13:27:00|
+-------------------+
only showing top 10 rows

invoice_number :  25899
+--------------+
|invoice_number|
+--------------+
|        536596|
|        536938|
|        537252|
|        537691|
|        538041|
|        538184|
|        538517|
|        538879|
|        539275|
|        539630|
+--------------+
only showing top 10 rows

quantity :  722
+--------+
|quantity|
+--------+
|      26|
|      29|
|     -91|
|    -250|
|    -251|
|      65|
|    1010|
|    -670|
|     270|
|    -723|
+--------+
only showing top 10 rows

stock_code :  4070
+----------+
|stock_code|
+----------+
|     22728|
|     21889|
|    90210B|
|     21259|
|     21894|
|     21452|
|     22121|
|     90022|
|     21249|
|     90143|
+----------+
only showing top 10 rows

unit_price :  1630
+----------+
|unit_price|
+----------+
|     10.65|
|      9.13|
|      0.66|
|    175.69|
|      15.5|
|    109.19|
|    404.49|
|    157.08|
|     183.2|
|    124.87|
+----------+
only showing top 10 rows

#### Data cleaning
- Verify customers ids, invoices ids and stocks codes standard format.
- Remove negative values from unit price and quantity.
- Remove non-numerical values in numerical columns.
- Clean details of purcharses.
- Verify purcharses belongs to only movies sales.
- Verify dates start and end.
- LowerCase string columns.
- Verifies duplicates.
- Verify distribution of numeric columns.  \\

- Creates data dictionary.
- Verify partioninig data.

In [28]:
df_user_purchase.columns

['country',
 'customer_id',
 'detail',
 'invoice_date',
 'invoice_number',
 'quantity',
 'stock_code',
 'unit_price']

In [29]:
from pyspark.sql.functions import lower, trim, length, min as min_pyspark, max as max_pyspark

In [30]:
import pyspark.sql.functions as F

##### Ids


###### Customer_id

- There are 541.908 purcharses and about 25% of the data are of non-identificable customers. We aggred with the stakeholder to discard those customers.

In [31]:
df_user_purchase\
    .select(F.col('customer_id'))\
    .distinct()\
    .orderBy(F.col('customer_id'))\
    .show(4, truncate=False)

+-----------+
|customer_id|
+-----------+
|-1         |
|12346      |
|12347      |
|12348      |
+-----------+
only showing top 4 rows

In [32]:
print(df_user_purchase.count())

541908

In [33]:
df_user_purchase\
    .select(
        F.length('customer_id').alias(f'len_customer_id')
    )\
    .groupBy(f'len_customer_id')\
    .count()\
    .show()

+---------------+------+
|len_customer_id| count|
+---------------+------+
|              5|406828|
|              2|135080|
+---------------+------+

In [34]:
df_user_purchase\
    .filter(F.length("customer_id") == 2)\
    .show(3)

+--------------+-----------+-------------+-------------------+--------------+--------+----------+----------+
|       country|customer_id|       detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+--------------+-----------+-------------+-------------------+--------------+--------+----------+----------+
|United Kingdom|         -1| OWL DOORSTOP|2010-12-03 11:13:00|        536862|       2|     21116|      8.47|
|United Kingdom|         -1|POTTERING MUG|2010-12-03 11:28:00|        536865|       2|     21876|      3.36|
|United Kingdom|         -1|             |2010-12-03 15:41:00|        537017|     -69|    47556B|       0.0|
+--------------+-----------+-------------+-------------------+--------------+--------+----------+----------+
only showing top 3 rows

In [35]:
406828 / 541908, 135080 / 541908

(0.7507325966769267, 0.2492674033230733)

In [36]:
df_user_purchase_ = df_user_purchase\
    .filter(col("customer_id") != -1)

In [37]:
print(df_user_purchase_.count())
df_user_purchase_.show(2)

406828
+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|country|customer_id|              detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
| Norway|      12433|HAND WARMER OWL D...|2010-12-01 13:24:00|        536532|      12|     22865|       2.1|
| France|      12567| LUNCH BAG CARS BLUE|2010-12-05 11:57:00|        537065|      10|     20728|      1.65|
+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
only showing top 2 rows

###### Invoice_number

There are values with letters at the beggining. Besides those also present negative quantities, so, they should be discard.

In [38]:
df_user_purchase_\
    .select(
        F.length('invoice_number').alias('len_invoice_number')
    )\
    .groupBy('len_invoice_number')\
    .count()\
    .show()

+------------------+------+
|len_invoice_number| count|
+------------------+------+
|                 6|397923|
|                 7|  8905|
+------------------+------+

In [39]:
df_user_purchase_\
    .select(
        F.when(
            F.length(col('invoice_number')) == 7,
            F.regexp_replace(col('invoice_number'), '\D', '')
        )\
        .otherwise(col('invoice_number'))\
        .alias('temp_invoice_number'), col("invoice_number")
    )\
    .distinct()\
    .orderBy('temp_invoice_number')\
    .show()

+-------------------+--------------+
|temp_invoice_number|invoice_number|
+-------------------+--------------+
|             536365|        536365|
|             536366|        536366|
|             536367|        536367|
|             536368|        536368|
|             536369|        536369|
|             536370|        536370|
|             536371|        536371|
|             536372|        536372|
|             536373|        536373|
|             536374|        536374|
|             536375|        536375|
|             536376|        536376|
|             536377|        536377|
|             536378|        536378|
|             536379|       C536379|
|             536380|        536380|
|             536381|        536381|
|             536382|        536382|
|             536383|       C536383|
|             536384|        536384|
+-------------------+--------------+
only showing top 20 rows

In [40]:
df_user_purchase_\
    .filter(F.length('invoice_number') == 7)\
    .select('invoice_number')\
    .distinct()\
    .show(5, False)

+--------------+
|invoice_number|
+--------------+
|C540850       |
|C542604       |
|C546174       |
|C549913       |
|C550672       |
+--------------+
only showing top 5 rows

In [41]:
df_user_purchase_\
    .filter(
        (F.col('invoice_number') == 'C540850') |
        (F.col('invoice_number') == 'C552015') |
        (F.col('invoice_number') == 'C557656') |
        (F.col('invoice_number') == 'C546174') |
        (F.col('invoice_number') == 'C542604')
    )\
    .show()

+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|       country|customer_id|              detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|       Germany|      12665|SWEETHEART CERAMI...|2011-01-12 09:41:00|       C540850|      -1|     21231|      1.25|
|United Kingdom|      13148|PHOTO FRAME 3 CLA...|2011-01-30 12:35:00|       C542604|      -3|     22796|      9.95|
|United Kingdom|      13148|  RED KITCHEN SCALES|2011-01-30 12:35:00|       C542604|      -1|     22625|       8.5|
|United Kingdom|      13148|FAMILY PHOTO FRAM...|2011-01-30 12:35:00|       C542604|      -1|     22768|      9.95|
|United Kingdom|      13148|RECIPE BOX PANTRY...|2011-01-30 12:35:00|       C542604|      -1|     22666|      2.95|
|United Kingdom|      13148|EUCALYPTUS & PINE...|2011-01-30 12:35:00|       C542604|      -3|     21352|      6.75|
|United Kingdom|      13148|CINAMMON & ORANGE...|2011-01-30 12:35:00|       C542604|      -5|     21351|      6.75|
|United Kingdom|      13148|WHITE GOOSE FEATH...|2011-01-30 12:35:00|       C542604|      -2|     21262|     16.95|
|United Kingdom|      13148|SPRIG LAVENDER AR...|2011-01-30 12:35:00|       C542604|     -48|     84799|      0.42|
|United Kingdom|      13094|T-LIGHT GLASS FLU...|2011-03-10 10:38:00|       C546174|      -3|     22791|      1.06|
|United Kingdom|      16722|SKULLS PARTY BAG ...|2011-05-05 17:37:00|       C552015|      -1|     22332|      1.65|
|United Kingdom|      14001|              Manual|2011-06-21 17:37:00|       C557656|      -3|         M|      4.25|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+

###### Stock codes

Stock codes can admit letters.**

- 1 ) M (Manual aggregations) - D (Discounts) <-> (discard)  

- 2 ) C2 (Carriage / transportation costs) <-> (include)

- 3) DOT (DOTCOM POSTAGE / letter stamps) <-> (include)

- 4) POST (Postage / stamps), PADS and CRUK

- \>4) Include

- 12 ) BANK CHARGES <-> (include)

In [42]:
df_user_purchase_\
    .select(
        F.length('stock_code').alias('len_stock_code')
    )\
    .groupBy('len_stock_code')\
    .count()\
    .show()

+--------------+------+
|len_stock_code| count|
+--------------+------+
|            12|    11|
|             1|   542|
|             6| 33593|
|             5|371020|
|             4|  1216|
|             7|   296|
|             2|   134|
|             3|    16|
+--------------+------+

In [43]:
df_user_purchase_\
    .select('stock_code')\
    .distinct()\
    .count()

3684

In [44]:
df_user_purchase_\
    .select(
        F.when(
            F.length(col('stock_code')) == 6,
            F.regexp_replace(col('stock_code'), '\D', '')
        )\
        .otherwise(col('stock_code'))\
        .alias('temp_stock_code'),
        col("stock_code")
    )\
    .distinct()\
    .orderBy('stock_code')\
    .show()

+---------------+----------+
|temp_stock_code|stock_code|
+---------------+----------+
|          10002|     10002|
|          10080|     10080|
|          10120|     10120|
|          10123|    10123C|
|          10124|    10124A|
|          10124|    10124G|
|          10125|     10125|
|          10133|     10133|
|          10135|     10135|
|          11001|     11001|
|          15030|     15030|
|          15034|     15034|
|          15036|     15036|
|          15039|     15039|
|          15044|    15044A|
|          15044|    15044B|
|          15044|    15044C|
|          15044|    15044D|
|        15056BL|   15056BL|
|          15056|    15056N|
+---------------+----------+
only showing top 20 rows

In [45]:
df_user_purchase_2 = df_user_purchase_\
    .filter(
        F.length(col('stock_code')) != 1
    )

In [46]:
print(df_user_purchase_2.count())
df_user_purchase_2.show(3)

406286
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|       country|customer_id|              detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|        Norway|      12433|HAND WARMER OWL D...|2010-12-01 13:24:00|        536532|      12|     22865|       2.1|
|        France|      12567| LUNCH BAG CARS BLUE|2010-12-05 11:57:00|        537065|      10|     20728|      1.65|
|United Kingdom|      17591|        WICKER STAR |2010-12-07 15:39:00|        537646|       1|     22694|       2.1|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
only showing top 3 rows

##### String cols

###### Country

In [47]:
print(
    "Unique values: ",
    df_user_purchase_2\
        .select(col('country'))\
        .distinct()\
        .count()
)

print(
    "Unique values after treatment: ",
    df_user_purchase_2\
        .select(
            trim(
                lower(col('country'))
            )
        )\
      .distinct()\
      .count()
)

Unique values:  37
Unique values after treatment:  37

In [48]:
df_user_purchase_2\
    .select(col('country'))\
    .show(2)

+-------+
|country|
+-------+
| Norway|
| France|
+-------+
only showing top 2 rows

In [49]:
df_user_purchase_2\
    .select(col("country"))\
    .distinct()\
    .orderBy(col('country'))\
    .show(2, truncate=False)

+---------+
|country  |
+---------+
|Australia|
|Austria  |
+---------+
only showing top 2 rows

In [50]:
df_user_purchase_2\
    .groupBy(col("country"))\
    .count()\
    .orderBy(col('count').desc())\
    .show()

+---------------+------+
|        country| count|
+---------------+------+
| United Kingdom|361418|
|        Germany|  9479|
|         France|  8481|
|           EIRE|  7479|
|          Spain|  2530|
|    Netherlands|  2369|
|        Belgium|  2069|
|    Switzerland|  1877|
|       Portugal|  1466|
|      Australia|  1259|
|         Norway|  1080|
|          Italy|   801|
|Channel Islands|   756|
|        Finland|   694|
|         Cyprus|   620|
|         Sweden|   461|
|        Austria|   401|
|        Denmark|   389|
|          Japan|   355|
|         Poland|   341|
+---------------+------+
only showing top 20 rows

###### Detail

In [51]:
df_user_purchase_2\
    .filter(
        F.trim(col('detail')) == ""
    )\
    .show()

+-------+-----------+------+------------+--------------+--------+----------+----------+
|country|customer_id|detail|invoice_date|invoice_number|quantity|stock_code|unit_price|
+-------+-----------+------+------------+--------------+--------+----------+----------+
+-------+-----------+------+------------+--------------+--------+----------+----------+

In [52]:
df_user_purchase\
    .filter(
        (col('customer_id') == -1) &
        (col('detail') == "")
    )\
    .groupBy(['customer_id', 'detail'])\
    .count()\
    .show()

+-----------+------+-----+
|customer_id|detail|count|
+-----------+------+-----+
|         -1|      | 1454|
+-----------+------+-----+

In [53]:
df_user_purchase\
    .filter(
        F.trim(col('detail')) == ""
    )\
    .count()

1454

In [54]:
df_user_purchase_2\
    .filter(col('detail').endswith(" "))\
    .show(truncate=False)

+--------------+-----------+-----------------------------------+-------------------+--------------+--------+----------+----------+
|country       |customer_id|detail                             |invoice_date       |invoice_number|quantity|stock_code|unit_price|
+--------------+-----------+-----------------------------------+-------------------+--------------+--------+----------+----------+
|United Kingdom|17591      |WICKER STAR                        |2010-12-07 15:39:00|537646        |1       |22694     |2.1       |
|Norway        |12433      |MINI JIGSAW DINOSAUR               |2010-12-08 16:49:00|537868        |24      |22547     |0.42      |
|United Kingdom|13047      |POPPY'S PLAYHOUSE BEDROOM          |2010-12-01 08:34:00|536367        |6       |22745     |2.1       |
|United Kingdom|13047      |IVORY KNITTED MUG COSY             |2010-12-01 08:34:00|536367        |6       |22310     |1.65      |
|United Kingdom|13047      |BOX OF VINTAGE JIGSAW BLOCKS       |2010-12-01 08:34:00|536367        |3       |22623     |4.95      |
|France        |12583      |ALARM CLOCK BAKELIKE RED           |2010-12-01 08:45:00|536370        |24      |22727     |3.75      |
|France        |12583      |STARS GIFT TAPE                    |2010-12-01 08:45:00|536370        |24      |21883     |0.65      |
|France        |12583      |INFLATABLE POLITICAL GLOBE         |2010-12-01 08:45:00|536370        |48      |10002     |0.85      |
|France        |12583      |VINTAGE HEADS AND TAILS CARD GAME  |2010-12-01 08:45:00|536370        |24      |21791     |1.25      |
|France        |12583      |SET/2 RED RETROSPOT TEA TOWELS     |2010-12-01 08:45:00|536370        |18      |21035     |2.95      |
|France        |12583      |ROUND SNACK BOXES SET OF4 WOODLAND |2010-12-01 08:45:00|536370        |24      |22326     |2.95      |
|France        |12583      |SPACEBOY LUNCH BOX                 |2010-12-01 08:45:00|536370        |24      |22629     |1.95      |
|France        |12583      |CIRCUS PARADE LUNCH BOX            |2010-12-01 08:45:00|536370        |24      |22631     |1.95      |
|France        |12583      | SET 2 TEA TOWELS I LOVE LONDON    |2010-12-01 08:45:00|536370        |24      |22900     |2.95      |
|France        |12583      |MINI JIGSAW CIRCUS PARADE          |2010-12-01 08:45:00|536370        |24      |22540     |0.42      |
|France        |12583      |MINI PAINT SET VINTAGE             |2010-12-01 08:45:00|536370        |36      |22492     |0.65      |
|United Kingdom|13748      |PAPER CHAIN KIT 50'S CHRISTMAS     |2010-12-01 09:00:00|536371        |80      |22086     |2.55      |
|United Kingdom|17850      |WOODEN FRAME ANTIQUE WHITE         |2010-12-01 09:02:00|536373        |6       |82494L    |2.55      |
|United Kingdom|17850      |WOODEN FRAME ANTIQUE WHITE         |2010-12-01 09:32:00|536375        |6       |82494L    |2.55      |
|United Kingdom|14688      |LUNCH BOX WITH CUTLERY RETROSPOT   |2010-12-01 09:37:00|536378        |6       |22352     |2.55      |
+--------------+-----------+-----------------------------------+-------------------+--------------+--------+----------+----------+
only showing top 20 rows

In [55]:
df_user_purchase_2\
    .filter(col('detail').startswith(" "))\
    .show(truncate=False)

+--------------+-----------+--------------------------------+-------------------+--------------+--------+----------+----------+
|country       |customer_id|detail                          |invoice_date       |invoice_number|quantity|stock_code|unit_price|
+--------------+-----------+--------------------------------+-------------------+--------------+--------+----------+----------+
|France        |12583      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-01 08:45:00|536370        |24      |22900     |2.95      |
|United Kingdom|17908      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-01 11:45:00|536409        |1       |22900     |2.95      |
|United Kingdom|17908      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-01 11:45:00|536409        |1       |22900     |2.95      |
|United Kingdom|17920      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-01 11:49:00|536412        |2       |22900     |2.95      |
|United Kingdom|17920      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-01 11:49:00|536412        |2       |22900     |2.95      |
|United Kingdom|12838      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-01 11:57:00|536415        |3       |22900     |2.95      |
|United Kingdom|17377      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-01 12:35:00|536500        |7       |22900     |2.95      |
|United Kingdom|15012      | 4 PURPLE FLOCK DINNER CANDLES  |2010-12-01 12:49:00|536522        |2       |72800B    |2.55      |
|United Kingdom|15525      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-01 13:17:00|536528        |1       |22900     |2.95      |
|United Kingdom|17346      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-01 14:34:00|536551        |1       |22900     |2.95      |
|United Kingdom|17346      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-01 14:34:00|536551        |1       |22900     |2.95      |
|United Kingdom|18041      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-02 11:21:00|536634        |1       |22900     |2.95      |
|United Kingdom|17976      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-02 13:49:00|536749        |1       |22900     |2.95      |
|United Kingdom|16883      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-03 10:33:00|536857        |5       |22900     |2.95      |
|United Kingdom|18055      | 4 PURPLE FLOCK DINNER CANDLES  |2010-12-05 10:52:00|537044        |12      |72800B    |2.55      |
|United Kingdom|13269      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-05 11:51:00|537058        |6       |22900     |2.95      |
|United Kingdom|15808      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-05 13:05:00|537154        |10      |22900     |2.95      |
|United Kingdom|16393      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-05 13:10:00|537158        |6       |22900     |2.95      |
|United Kingdom|16210      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-06 11:06:00|537256        |6       |22900     |2.95      |
|United Kingdom|15028      | SET 2 TEA TOWELS I LOVE LONDON |2010-12-06 12:47:00|537371        |20      |22900     |2.95      |
+--------------+-----------+--------------------------------+-------------------+--------------+--------+----------+----------+
only showing top 20 rows

##### dates

###### invoice_date

In [56]:
df_user_purchase_2\
    .select(
        F.min(col('invoice_date')),
        F.max(col('invoice_date'))
    )\
    .show()

+-------------------+-------------------+
|  min(invoice_date)|  max(invoice_date)|
+-------------------+-------------------+
|2010-12-01 08:26:00|2011-12-09 12:50:00|
+-------------------+-------------------+

In [57]:
df_user_purchase_2\
    .groupBy(
        F.date_format(col('invoice_date'), 'yyyy/MM')\
        .alias('invoice_year_month')
    )\
    .count()\
    .orderBy('invoice_year_month')\
    .show()

+------------------+-----+
|invoice_year_month|count|
+------------------+-----+
|           2010/12|26812|
|           2011/01|21891|
|           2011/02|20336|
|           2011/03|27769|
|           2011/04|23155|
|           2011/05|28869|
|           2011/06|27806|
|           2011/07|27446|
|           2011/08|27624|
|           2011/09|40779|
|           2011/10|50622|
|           2011/11|65531|
|           2011/12|17646|
+------------------+-----+

In [58]:
df_user_purchase_2\
    .select(col('invoice_date').cast('date'))\
    .show(2)

+------------+
|invoice_date|
+------------+
|  2010-12-01|
|  2010-12-05|
+------------+
only showing top 2 rows

In [59]:
df_user_purchase_2.show(2)

+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|country|customer_id|              detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
| Norway|      12433|HAND WARMER OWL D...|2010-12-01 13:24:00|        536532|      12|     22865|       2.1|
| France|      12567| LUNCH BAG CARS BLUE|2010-12-05 11:57:00|        537065|      10|     20728|      1.65|
+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
only showing top 2 rows

##### numerical

###### quantity and unit price

In [60]:
df_user_purchase_2\
    .filter(
        col('quantity') < 0
    )\
    .count()

8653

In [61]:
df_user_purchase_2\
    .filter(
        col('quantity') < 0
    )\
    .show(4)

+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|       country|customer_id|              detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|United Kingdom|      15311|SET OF 3 COLOURED...|2010-12-01 09:49:00|       C536383|      -1|    35004C|      4.65|
|United Kingdom|      17548|PLASTERS IN TIN C...|2010-12-01 10:24:00|       C536391|     -12|     22556|      1.65|
|United Kingdom|      17548|PACK OF 12 PINK P...|2010-12-01 10:24:00|       C536391|     -24|     21984|      0.29|
|United Kingdom|      17548|PACK OF 12 BLUE P...|2010-12-01 10:24:00|       C536391|     -24|     21983|      0.29|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
only showing top 4 rows

In [62]:
df_user_purchase\
    .filter(
        # (col('quantity') >= 0) 
        # &
        (F.col('invoice_number').rlike(r"^\D"))
    )\
    .select(
        F.col('invoice_number').substr(1, 2)
    )\
    .distinct()\
    .show()

+-------------------------------+
|substring(invoice_number, 1, 2)|
+-------------------------------+
|                             C5|
|                             A5|
+-------------------------------+

In [63]:
df_user_purchase_2\
    .filter(
        (F.col('invoice_number').rlike(r"^\D"))
    )\
    .show()

+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|       country|customer_id|              detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|United Kingdom|      15311|SET OF 3 COLOURED...|2010-12-01 09:49:00|       C536383|      -1|    35004C|      4.65|
|United Kingdom|      17548|PLASTERS IN TIN C...|2010-12-01 10:24:00|       C536391|     -12|     22556|      1.65|
|United Kingdom|      17548|PACK OF 12 PINK P...|2010-12-01 10:24:00|       C536391|     -24|     21984|      0.29|
|United Kingdom|      17548|PACK OF 12 BLUE P...|2010-12-01 10:24:00|       C536391|     -24|     21983|      0.29|
|United Kingdom|      17548|PACK OF 12 RED RE...|2010-12-01 10:24:00|       C536391|     -24|     21980|      0.29|
|United Kingdom|      17548|CHICK GREY HOT WA...|2010-12-01 10:24:00|       C536391|     -12|     21484|      3.45|
|United Kingdom|      17548|PLASTERS IN TIN V...|2010-12-01 10:24:00|       C536391|     -12|     22557|      1.65|
|United Kingdom|      17548|PLASTERS IN TIN S...|2010-12-01 10:24:00|       C536391|     -24|     22553|      1.65|
|United Kingdom|      17897|JAM MAKING SET WI...|2010-12-01 12:38:00|       C536506|      -6|     22960|      4.25|
|United Kingdom|      17841|HAND WARMER RED R...|2010-12-01 14:30:00|       C536543|      -1|     22632|       2.1|
|United Kingdom|      17841|CHARLOTTE BAG SUK...|2010-12-01 14:30:00|       C536543|      -2|     22355|      0.85|
|       Germany|      12472|3 HOOK HANGER MAG...|2010-12-01 14:33:00|       C536548|      -4|     22244|      1.95|
|       Germany|      12472|5 HOOK HANGER MAG...|2010-12-01 14:33:00|       C536548|      -5|     22242|      1.65|
|       Germany|      12472|SET/5 RED RETROSP...|2010-12-01 14:33:00|       C536548|      -1|     20914|      2.95|
|       Germany|      12472|SET OF SALT AND P...|2010-12-01 14:33:00|       C536548|      -7|     22892|      1.25|
|       Germany|      12472|  DELUXE SEWING KIT |2010-12-01 14:33:00|       C536548|      -1|     22654|      5.95|
|       Germany|      12472|TRIPLE PHOTO FRAM...|2010-12-01 14:33:00|       C536548|      -2|     22767|      9.95|
|       Germany|      12472|RETROSPOT PARTY B...|2010-12-01 14:33:00|       C536548|      -1|     22333|      1.65|
|       Germany|      12472|HOOK, 1 HANGER ,M...|2010-12-01 14:33:00|       C536548|      -2|     22245|      0.85|
|       Germany|      12472|6 RIBBONS RUSTIC ...|2010-12-01 14:33:00|       C536548|      -6|     22077|      1.65|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
only showing top 20 rows

In [64]:
df_user_purchase\
    .filter(
        (F.col('invoice_number').rlike(r"^A"))
    )\
    .show()

+--------------+-----------+---------------+-------------------+--------------+--------+----------+----------+
|       country|customer_id|         detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+--------------+-----------+---------------+-------------------+--------------+--------+----------+----------+
|United Kingdom|         -1|Adjust bad debt|2011-08-12 14:50:00|       A563185|       1|         B|  11062.06|
|United Kingdom|         -1|Adjust bad debt|2011-08-12 14:51:00|       A563186|       1|         B| -11062.06|
|United Kingdom|         -1|Adjust bad debt|2011-08-12 14:52:00|       A563187|       1|         B| -11062.06|
+--------------+-----------+---------------+-------------------+--------------+--------+----------+----------+

In [65]:
df_user_purchase_2\
    .filter(
        (col('quantity') < 0) &
        (F.col('invoice_number').rlike(r"^\d"))
    )\
    .show()

+-------+-----------+------+------------+--------------+--------+----------+----------+
|country|customer_id|detail|invoice_date|invoice_number|quantity|stock_code|unit_price|
+-------+-----------+------+------------+--------------+--------+----------+----------+
+-------+-----------+------+------------+--------------+--------+----------+----------+

In [66]:
df_user_purchase_2\
    .filter(
        (col('quantity') < 0) |
        (F.col('invoice_number').rlike(r"^\D")) |
        (F.col("unit_price") < 0)
    )\
    .count()

8653

In [67]:
df_user_purchase_3 = df_user_purchase_2.filter(
    ~(
        (col('quantity') < 0) |
        (F.col('invoice_number').rlike(r"^\D")) |
        (F.col("unit_price") < 0)
    )
)

In [68]:
print(df_user_purchase_3.count())
df_user_purchase_3.show(3)

397633
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|       country|customer_id|              detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|        Norway|      12433|HAND WARMER OWL D...|2010-12-01 13:24:00|        536532|      12|     22865|       2.1|
|        France|      12567| LUNCH BAG CARS BLUE|2010-12-05 11:57:00|        537065|      10|     20728|      1.65|
|United Kingdom|      17591|        WICKER STAR |2010-12-07 15:39:00|        537646|       1|     22694|       2.1|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
only showing top 3 rows

In [69]:
df_user_purchase_3.filter(
    # (col('quantity') < 0)
    # (F.col('invoice_number').rlike(r"^\D"))
    (F.col("unit_price") < 0)
).count()

0

#### Dropping duplicates

In [70]:
dup_cols = ["customer_id", "invoice_number", "stock_code", "invoice_date"]

In [71]:
df_user_purchase_3\
    .groupBy(dup_cols)\
    .count()\
    .orderBy(col('count').desc())\
    .show(5)

+-----------+--------------+----------+-------------------+-----+
|customer_id|invoice_number|stock_code|       invoice_date|count|
+-----------+--------------+----------+-------------------+-----+
|      16923|        555524|     22698|2011-06-05 11:37:00|   20|
|      16923|        555524|     22697|2011-06-05 11:37:00|   12|
|      14102|        572861|     22775|2011-10-26 12:46:00|    8|
|      17841|        578289|     23395|2011-11-23 14:07:00|    7|
|      18022|        574481|     23084|2011-11-04 12:45:00|    6|
+-----------+--------------+----------+-------------------+-----+
only showing top 5 rows

In [72]:
df_user_purchase_3.filter(
    (col('customer_id') == "16923") &
    (col('invoice_number') == "555524") &
    (col('stock_code') == "22698") &
    (col('invoice_date') == "2011-06-05 11:37:00")
).show(3)

+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|       country|customer_id|              detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|United Kingdom|      16923|PINK REGENCY TEAC...|2011-06-05 11:37:00|        555524|       1|     22698|      2.95|
|United Kingdom|      16923|PINK REGENCY TEAC...|2011-06-05 11:37:00|        555524|       1|     22698|      2.95|
|United Kingdom|      16923|PINK REGENCY TEAC...|2011-06-05 11:37:00|        555524|       1|     22698|      2.95|
+--------------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
only showing top 3 rows

In [73]:
df_user_purchase_3.count()

397633

In [74]:
df_user_purchase_3\
    .drop_duplicates(dup_cols)\
    .count()

387621

In [75]:
df_user_purchase_4 = df_user_purchase_3\
    .drop_duplicates(dup_cols)

In [76]:
print(df_user_purchase_4.count())
df_user_purchase_4.show(3)

387621
+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|country|customer_id|              detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|Iceland|      12347|BLACK EAR MUFF HE...|2010-12-07 14:57:00|        537626|      12|     20780|      4.65|
|Iceland|      12347|BOOM BOX SPEAKER ...|2010-12-07 14:57:00|        537626|       6|     21064|      5.95|
|Iceland|      12347|BATHROOM METAL SIGN |2010-12-07 14:57:00|        537626|      12|     21171|      1.45|
+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
only showing top 3 rows

#### Schema correction

In [77]:
df_user_purchase_4.printSchema()

root
 |-- country: string (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- detail: string (nullable = true)
 |-- invoice_date: timestamp (nullable = true)
 |-- invoice_number: string (nullable = true)
 |-- quantity: long (nullable = true)
 |-- stock_code: string (nullable = true)
 |-- unit_price: double (nullable = true)

In [78]:
df_user_purchase_final = df_user_purchase_4\
    .select(
        col('customer_id').cast('string'),
        F.regexp_replace(col('invoice_number'), "\D", "").alias('invoice_number').cast('string'),
        col('stock_code'),
        col('invoice_date').cast('date').alias('invoice_date'),
        F.trim(col('detail')).alias('detail'),
        col('quantity'),
        col('unit_price'),
        col('country')
    )

In [79]:
print(df_user_purchase_final.count())
df_user_purchase_final.show(5)

387621
+-----------+--------------+----------+------------+--------------------+--------+----------+-------+
|customer_id|invoice_number|stock_code|invoice_date|              detail|quantity|unit_price|country|
+-----------+--------------+----------+------------+--------------------+--------+----------+-------+
|      12347|        537626|     20780|  2010-12-07|BLACK EAR MUFF HE...|      12|      4.65|Iceland|
|      12347|        537626|     21064|  2010-12-07|BOOM BOX SPEAKER ...|       6|      5.95|Iceland|
|      12347|        537626|     21171|  2010-12-07| BATHROOM METAL SIGN|      12|      1.45|Iceland|
|      12347|        537626|     22195|  2010-12-07|LARGE HEART MEASU...|      12|      1.65|Iceland|
|      12347|        537626|     22212|  2010-12-07|FOUR HOOK  WHITE ...|       6|       2.1|Iceland|
+-----------+--------------+----------+------------+--------------------+--------+----------+-------+
only showing top 5 rows

In [80]:
for col_ in df_user_purchase_final.columns:
    print(col_, ': ', df_user_purchase_final.select(col_).distinct().count())

customer_id :  4335
invoice_number :  18470
stock_code :  3664
invoice_date :  305
detail :  3865
quantity :  300
unit_price :  393
country :  37

In [81]:
df_user_purchase_final.show(1, truncate=False, vertical=True)

-RECORD 0-----------------------------------
 customer_id    | 12347
 invoice_number | 537626
 stock_code     | 20780
 invoice_date   | 2010-12-07
 detail         | BLACK EAR MUFF HEADPHONES
 quantity       | 12
 unit_price     | 4.65
 country        | Iceland
only showing top 1 row

#### Save to parquet

In [82]:
user_purchase_staging_path = f"gs://{BUCKET_NAME}/Staging/user_purchase/"
print(user_purchase_staging_path[5:])
df_user_purchase_final.write.mode('overwrite').parquet(user_purchase_staging_path[5:])

capstone-project-dev/Staging/user_purchase/

In [83]:
# !gsutil cp -r capstone-project-dev/Staging/user_purchase/ gs://capstone-project-dev/Staging/

Copying file://capstone-project-dev/Staging/user_purchase/part-00001-d8ff1b01-951c-4b01-85c8-d873e295a444-c000.snappy.parquet [Content-Type=application/octet-stream]...
Copying file://capstone-project-dev/Staging/user_purchase/_SUCCESS [Content-Type=application/octet-stream]...
Copying file://capstone-project-dev/Staging/user_purchase/part-00000-d8ff1b01-951c-4b01-85c8-d873e295a444-c000.snappy.parquet [Content-Type=application/octet-stream]...
Copying file://capstone-project-dev/Staging/user_purchase/.part-00001-d8ff1b01-951c-4b01-85c8-d873e295a444-c000.snappy.parquet.crc [Content-Type=application/octet-stream]...
- [4 files][  2.6 MiB/  2.6 MiB]
==> NOTE: You are performing a sequence of gsutil operations that may
run significantly faster if you instead use gsutil -m cp ... Please
see the -m section under "gsutil help options" for further information
about when gsutil -m can be advantageous.

Copying file://capstone-project-dev/Staging/user_purchase/._SUCCESS.crc [Content-Type=application/octet-stream]...
Copying file://capstone-project-dev/Staging/user_purchase/.part-00000-d8ff1b01-951c-4b01-85c8-d873e295a444-c000.snappy.parquet.crc [Content-Type=application/octet-stream]...
- [6 files][  2.6 MiB/  2.6 MiB]
Operation completed over 6 objects/2.6 MiB.

In [84]:
# spark.read.parquet(user_purchase_staging_path[5:]).count()

### Movies reviews (GCS)

In [85]:
movie_review_path = f"gs://{BUCKET_NAME}/Raw/movie_review.csv"
print(movie_review_path[5:])

df_movie_review = spark.read\
    .option("header", "true")\
    .option("inferSchema", "true")\
    .csv(movie_review_path[5:])

capstone-project-dev/Raw/movie_review.csv

In [86]:
print(df_movie_review.count())
df_movie_review.show(3)

100000
+-----+--------------------+---------+
|  cid|          review_str|id_review|
+-----+--------------------+---------+
|13756|Once again Mr. Co...|        1|
|15738|This is an exampl...|        2|
|15727|First of all I ha...|        3|
+-----+--------------------+---------+
only showing top 3 rows

In [87]:
for i in df_movie_review.columns:
    print(i, ': ', df_movie_review.select(col(i)).distinct().count())

cid :  909
review_str :  98469
id_review :  100000

#### Data cleaning

##### Review_str text processing

In [88]:
df_movie_review_ = df_movie_review\
    .withColumn(
        "review_str_clean",
        F.regexp_replace(
            F.regexp_replace(col('review_str'), r"[^a-zA-Z0-9! ]", ""),
            r"[ ]{2,}", " "
        )
    )

In [89]:
df_movie_review_\
    .filter(col('id_review') == "5")\
    .select('review_str_clean')\
    .show(truncate=False)

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|review_str_clean                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Brass pictures movies is not a fitting word for them really are somewhat brassy Their alluring visual qualities are reminiscent of expensive high class TV commercials But unfortunately Brass pictures are feature films with the pretense of wanting to entertain viewers for over two hours! In this they fail miserably their undeniable but rather soft and flabby than steamy erotic qualities non withstandingbr br Senso 45 is a remake of a film by Luchino Visconti with the same title and Alida Valli and Farley Granger in the lead The original tells a story of senseless love and lust in and around Venice during the Italian wars of independence Brass moved the action from the 19th into the 20th century 1945 to be exact so there are Mussolini murals men in black shirts German uniforms or the tattered garb of the partisans But it is just window dressing the historic context is completely negligiblebr br Anna Galiena plays the attractive aristocratic woman who falls for the amoral SS guy who always puts on too much lipstick She is an attractive versatile well trained Italian actress and clearly above the material Her wide range of facial expressions signalling boredom loathing delight fear hate and ecstasy are the best reason to watch this picture and worth two stars She endures this basically trashy stuff with an astonishing amount of dignity I wish some really good parts come along for her She really deserves it|
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [90]:
stopwords_english = read_pickle_from_gcs(STOPWORDS_PATH)

In [91]:
print(len(stopwords_english), ':', stopwords_english)

179 : ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [92]:
tokenizer = Tokenizer(
    inputCol="review_str_clean", outputCol="words"
)
tokenizer

Tokenizer_8234bc4d3c6b

In [93]:

# Save and load tokenizer

# tokenizerPath = "/content/data-bootcamp-test-1-dev-data/tokenizer"
# tokenizer.save(tokenizerPath)

# loadedTokenizer = Tokenizer.load(tokenizerPath)

In [94]:
df_movie_review_1 = tokenizer\
    .transform(
        df_movie_review_
    )

In [95]:
df_movie_review_1 = df_movie_review_1\
    .select(
        col("*"),
        size(col("words")).alias('len_words')
    )
df_movie_review_1.show(4)

+-----+--------------------+---------+--------------------+--------------------+---------+
|  cid|          review_str|id_review|    review_str_clean|               words|len_words|
+-----+--------------------+---------+--------------------+--------------------+---------+
|13756|Once again Mr. Co...|        1|Once again Mr Cos...|[once, again, mr,...|      168|
|15738|This is an exampl...|        2|This is an exampl...|[this, is, an, ex...|      232|
|15727|First of all I ha...|        3|First of all I ha...|[first, of, all, ...|      225|
|17954|Not even the Beat...|        4|Not even the Beat...|[not, even, the, ...|      308|
+-----+--------------------+---------+--------------------+--------------------+---------+
only showing top 4 rows

In [96]:
remover = StopWordsRemover(
    inputCol="words", outputCol="words_final",
    stopWords=stopwords_english
)
remover

StopWordsRemover_6d87029ba9c2

In [97]:
df_movie_review_2 = remover.transform(
    df_movie_review_1
)

df_movie_review_2 = df_movie_review_2\
    .select(
        col("*"),
        size(col("words_final")).alias('len_words_final')
    )

In [98]:
df_movie_review_2.show(4)

+-----+--------------------+---------+--------------------+--------------------+---------+--------------------+---------------+
|  cid|          review_str|id_review|    review_str_clean|               words|len_words|         words_final|len_words_final|
+-----+--------------------+---------+--------------------+--------------------+---------+--------------------+---------------+
|13756|Once again Mr. Co...|        1|Once again Mr Cos...|[once, again, mr,...|      168|[mr, costner, dra...|             74|
|15738|This is an exampl...|        2|This is an exampl...|[this, is, an, ex...|      232|[example, majorit...|            131|
|15727|First of all I ha...|        3|First of all I ha...|[first, of, all, ...|      225|[first, hate, mor...|            118|
|17954|Not even the Beat...|        4|Not even the Beat...|[not, even, the, ...|      308|[even, beatles, c...|            170|
+-----+--------------------+---------+--------------------+--------------------+---------+--------------------+---------------+
only showing top 4 rows

In [99]:
df_movie_review_2\
    .select(
        F.col('len_words'),
        F.col('len_words_final'),
        (F.col('len_words') - F.col('len_words_final'))\
        .alias('len_diff')
    )\
    .orderBy(F.col('len_diff').desc())\
    .summary()\
    .show()

+-------+------------------+-----------------+-----------------+
|summary|         len_words|  len_words_final|         len_diff|
+-------+------------------+-----------------+-----------------+
|  count|            100000|           100000|           100000|
|   mean|           231.871|        123.90699|        107.96401|
| stddev|171.80362785420448|93.07076351255643|80.14653148692805|
|    min|                 4|                3|                0|
|    25%|               126|               66|               59|
|    50%|               174|               92|               82|
|    75%|               282|              151|              131|
|    max|              2469|             1451|             1121|
+-------+------------------+-----------------+-----------------+

In [100]:
df_movie_review_2\
    .filter(col('id_review') == "5")\
    .select(col('words_final'))\
    .first()

Row(words_final=['brass', 'pictures', 'movies', 'fitting', 'word', 'really', 'somewhat', 'brassy', 'alluring', 'visual', 'qualities', 'reminiscent', 'expensive', 'high', 'class', 'tv', 'commercials', 'unfortunately', 'brass', 'pictures', 'feature', 'films', 'pretense', 'wanting', 'entertain', 'viewers', 'two', 'hours!', 'fail', 'miserably', 'undeniable', 'rather', 'soft', 'flabby', 'steamy', 'erotic', 'qualities', 'non', 'withstandingbr', 'br', 'senso', '45', 'remake', 'film', 'luchino', 'visconti', 'title', 'alida', 'valli', 'farley', 'granger', 'lead', 'original', 'tells', 'story', 'senseless', 'love', 'lust', 'around', 'venice', 'italian', 'wars', 'independence', 'brass', 'moved', 'action', '19th', '20th', 'century', '1945', 'exact', 'mussolini', 'murals', 'men', 'black', 'shirts', 'german', 'uniforms', 'tattered', 'garb', 'partisans', 'window', 'dressing', 'historic', 'context', 'completely', 'negligiblebr', 'br', 'anna', 'galiena', 'plays', 'attractive', 'aristocratic', 'woman', 'falls', 'amoral', 'ss', 'guy', 'always', 'puts', 'much', 'lipstick', 'attractive', 'versatile', 'well', 'trained', 'italian', 'actress', 'clearly', 'material', 'wide', 'range', 'facial', 'expressions', 'signalling', 'boredom', 'loathing', 'delight', 'fear', 'hate', 'ecstasy', 'best', 'reason', 'watch', 'picture', 'worth', 'two', 'stars', 'endures', 'basically', 'trashy', 'stuff', 'astonishing', 'amount', 'dignity', 'wish', 'really', 'good', 'parts', 'come', 'along', 'really', 'deserves'])

In [101]:
df_movie_review_2\
    .filter(col('id_review') == "5")\
    .select('words_final')\
    .show(truncate=False)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|words_final                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[brass, pictures, movies, fitting, word, really, somewhat, brassy, alluring, visual, qualities, reminiscent, expensive, high, class, tv, commercials, unfortunately, brass, pictures, feature, films, pretense, wanting, entertain, viewers, two, hours!, fail, miserably, undeniable, rather, soft, flabby, steamy, erotic, qualities, non, withstandingbr, br, senso, 45, remake, film, luchino, visconti, title, alida, valli, farley, granger, lead, original, tells, story, senseless, love, lust, around, venice, italian, wars, independence, brass, moved, action, 19th, 20th, century, 1945, exact, mussolini, murals, men, black, shirts, german, uniforms, tattered, garb, partisans, window, dressing, historic, context, completely, negligiblebr, br, anna, galiena, plays, attractive, aristocratic, woman, falls, amoral, ss, guy, always, puts, much, lipstick, attractive, versatile, well, trained, italian, actress, clearly, material, wide, range, facial, expressions, signalling, boredom, loathing, delight, fear, hate, ecstasy, best, reason, watch, picture, worth, two, stars, endures, basically, trashy, stuff, astonishing, amount, dignity, wish, really, good, parts, come, along, really, deserves]|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

##### Sentiment analysis

In [102]:
df_movie_review_3 = df_movie_review_2\
    .withColumn(
        "positive_review", when(
            array_contains(col('words_final'), "good"), 1
        ).otherwise(0)
    )

In [103]:
df_movie_review_3.filter(col('id_review') == "5").select(col('words_final')).first()

Row(words_final=['brass', 'pictures', 'movies', 'fitting', 'word', 'really', 'somewhat', 'brassy', 'alluring', 'visual', 'qualities', 'reminiscent', 'expensive', 'high', 'class', 'tv', 'commercials', 'unfortunately', 'brass', 'pictures', 'feature', 'films', 'pretense', 'wanting', 'entertain', 'viewers', 'two', 'hours!', 'fail', 'miserably', 'undeniable', 'rather', 'soft', 'flabby', 'steamy', 'erotic', 'qualities', 'non', 'withstandingbr', 'br', 'senso', '45', 'remake', 'film', 'luchino', 'visconti', 'title', 'alida', 'valli', 'farley', 'granger', 'lead', 'original', 'tells', 'story', 'senseless', 'love', 'lust', 'around', 'venice', 'italian', 'wars', 'independence', 'brass', 'moved', 'action', '19th', '20th', 'century', '1945', 'exact', 'mussolini', 'murals', 'men', 'black', 'shirts', 'german', 'uniforms', 'tattered', 'garb', 'partisans', 'window', 'dressing', 'historic', 'context', 'completely', 'negligiblebr', 'br', 'anna', 'galiena', 'plays', 'attractive', 'aristocratic', 'woman', 'falls', 'amoral', 'ss', 'guy', 'always', 'puts', 'much', 'lipstick', 'attractive', 'versatile', 'well', 'trained', 'italian', 'actress', 'clearly', 'material', 'wide', 'range', 'facial', 'expressions', 'signalling', 'boredom', 'loathing', 'delight', 'fear', 'hate', 'ecstasy', 'best', 'reason', 'watch', 'picture', 'worth', 'two', 'stars', 'endures', 'basically', 'trashy', 'stuff', 'astonishing', 'amount', 'dignity', 'wish', 'really', 'good', 'parts', 'come', 'along', 'really', 'deserves'])

In [104]:
df_movie_review_final = df_movie_review_3.select(
    col("cid").alias("customer_id"),
    col("positive_review"),
    col("id_review").alias("review_id")
)

In [105]:
print(df_movie_review_final.count())
df_movie_review_final.show(3)

100000
+-----------+---------------+---------+
|customer_id|positive_review|review_id|
+-----------+---------------+---------+
|      13756|              0|        1|
|      15738|              0|        2|
|      15727|              0|        3|
+-----------+---------------+---------+
only showing top 3 rows

#### Save to parquet

In [106]:
movie_review_staging_path = f"gs://{BUCKET_NAME}/Staging/movie_review/"
print(movie_review_staging_path[5:])
df_movie_review_final.write.mode('overwrite').parquet(movie_review_staging_path[5:])

capstone-project-dev/Staging/movie_review/

In [107]:
# !gsutil cp -r capstone-project-dev/Staging/movie_review/ gs://capstone-project-dev/Staging/

Copying file://capstone-project-dev/Staging/movie_review/_SUCCESS [Content-Type=application/octet-stream]...
Copying file://capstone-project-dev/Staging/movie_review/part-00000-6a82536b-13fc-4577-8490-73a0dbd95a78-c000.snappy.parquet [Content-Type=application/octet-stream]...
Copying file://capstone-project-dev/Staging/movie_review/.part-00000-6a82536b-13fc-4577-8490-73a0dbd95a78-c000.snappy.parquet.crc [Content-Type=application/octet-stream]...
Copying file://capstone-project-dev/Staging/movie_review/._SUCCESS.crc [Content-Type=application/octet-stream]...
- [4 files][280.7 KiB/280.7 KiB]
==> NOTE: You are performing a sequence of gsutil operations that may
run significantly faster if you instead use gsutil -m cp ... Please
see the -m section under "gsutil help options" for further information
about when gsutil -m can be advantageous.

Copying file://capstone-project-dev/Staging/movie_review/part-00001-6a82536b-13fc-4577-8490-73a0dbd95a78-c000.snappy.parquet [Content-Type=application/octet-stream]...
Copying file://capstone-project-dev/Staging/movie_review/.part-00001-6a82536b-13fc-4577-8490-73a0dbd95a78-c000.snappy.parquet.crc [Content-Type=application/octet-stream]...
- [6 files][540.1 KiB/540.1 KiB]
Operation completed over 6 objects/540.1 KiB.

### Logs reviews (Spark-xml-databricks-package)

In [108]:
log_review_path = f"gs://{BUCKET_NAME}/Raw/log_reviews.csv"
print(log_review_path[5:])

capstone-project-dev/Raw/log_reviews.csv

In [109]:
df_log_review = spark.read\
    .option("rowTag", "log")\
    .option("rootTag", "reviewlog")\
    .format("xml")\
    .load(log_review_path[5:])

In [110]:
print(df_log_review.count())
df_log_review.show(2)

100000
+------+------------+--------+----------+--------------+------------+
|device|   ipAddress|location|   logDate|            os| phoneNumber|
+------+------------+--------+----------+--------------+------------+
|Mobile|9.200.232.57|  Kansas|04-25-2021|     Apple iOS|821-540-5777|
|Tablet|9.200.232.57|  Oregon|03-13-2021|Google Android|819-102-1320|
+------+------------+--------+----------+--------------+------------+
only showing top 2 rows

In [111]:
from pyspark.sql.window import Window

In [112]:
window_ = Window().orderBy(F.lit('A'))
df_log_review_ = df_log_review.withColumn(
    "id_review", F.row_number().over(window_)
)

In [113]:
print(df_log_review_.count())
df_log_review_.show(2)

100000
+------+------------+--------+----------+--------------+------------+---------+
|device|   ipAddress|location|   logDate|            os| phoneNumber|id_review|
+------+------------+--------+----------+--------------+------------+---------+
|Mobile|9.200.232.57|  Kansas|04-25-2021|     Apple iOS|821-540-5777|        1|
|Tablet|9.200.232.57|  Oregon|03-13-2021|Google Android|819-102-1320|        2|
+------+------------+--------+----------+--------------+------------+---------+
only showing top 2 rows

##### browser addition

In [114]:
df_log_review_ = df_log_review_.withColumn(
    "browser", when(
        col('os') == "Linux", "Firefox"
    ).otherwise(
        when(
            col('os') == "Google Android", "Chrome"
        ).otherwise(
            when(
                col('os') == "Microsoft Windows", "Edge"
            ).otherwise(
                "Safari"
            )
        )
    )
)

In [122]:
regions_usa = spark.read.option('header', True).csv('/content/capstone-project-dev/Others/us_census_regions.csv')
regions_usa.show(3)

+--------+----------+------+------------------+
|   State|State Code|Region|          Division|
+--------+----------+------+------------------+
|  Alaska|        AK|  West|           Pacific|
| Alabama|        AL| South|East South Central|
|Arkansas|        AR| South|West South Central|
+--------+----------+------+------------------+
only showing top 3 rows

In [123]:
regions_usa.select('region').distinct().show()

+---------+
|   region|
+---------+
|  Midwest|
|    South|
|     West|
|Northeast|
+---------+

In [ ]:
# regexp_replace
# Lousiana|  null|
# |   Pensylvania|  null
# | Massachussets|  null|

regions_usa_ = regions_usa.select(
    F.regexp_replace(
        F.regexp_replace(
            F.regexp_replace(
                F.col('State'), "Massachusetts", "Massachussets"
            ), "Pennsylvania", "Pensylvania"
        ), "Louisiana", "Lousiana"
    ).alias('location'),
    F.when(F.trim(F.col('Region')).startswith('West'), 'west').otherwise('east').alias('region')
)

In [ ]:
regions_usa_.show(2)

+--------+------+
|location|region|
+--------+------+
|  Alaska|  west|
| Alabama|  east|
+--------+------+
only showing top 2 rows

In [ ]:
regions_path = f"gs://{BUCKET_NAME}/Others/regions.csv"
print(regions_path[5:])
regions_usa_.toPandas().to_csv(regions_path[5:], index=False)

capstone-project-dev/Others/regions.csv

##### Regions addition

In [124]:
regions_usa_ = spark.read.option('header', True).csv('/content/capstone-project-dev/Others/regions.csv')
print(regions_usa_.count())
regions_usa_.show(3)

51
+--------+------+
|location|region|
+--------+------+
|  Alaska|  west|
| Alabama|  east|
|Arkansas|  east|
+--------+------+
only showing top 3 rows

In [125]:
df_log_review_stage = df_log_review_.join(
    regions_usa_, on='location', how='left'
)

df_log_review_stage.show(3)

+---------+------+------------+----------+--------------+------------+---------+-------+------+
| location|device|   ipAddress|   logDate|            os| phoneNumber|id_review|browser|region|
+---------+------+------------+----------+--------------+------------+---------+-------+------+
|   Kansas|Mobile|9.200.232.57|04-25-2021|     Apple iOS|821-540-5777|        1| Safari|  east|
|   Oregon|Tablet|9.200.232.57|03-13-2021|Google Android|819-102-1320|        2| Chrome|  west|
|Minnesota|Tablet|9.200.232.57|09-30-2021|     Apple iOS|989-156-0498|        3| Safari|  east|
+---------+------+------------+----------+--------------+------------+---------+-------+------+
only showing top 3 rows

In [126]:
df_log_review_stage.printSchema()

root
 |-- location: string (nullable = true)
 |-- device: string (nullable = true)
 |-- ipAddress: string (nullable = true)
 |-- logDate: string (nullable = true)
 |-- os: string (nullable = true)
 |-- phoneNumber: string (nullable = true)
 |-- id_review: integer (nullable = false)
 |-- browser: string (nullable = false)
 |-- region: string (nullable = true)

In [132]:
df_log_review_stage.show()

+-------------+--------+------------+----------+-----------------+------------+---------+-------+------+
|     location|  device|   ipAddress|   logDate|               os| phoneNumber|id_review|browser|region|
+-------------+--------+------------+----------+-----------------+------------+---------+-------+------+
|       Kansas|  Mobile|9.200.232.57|04-25-2021|        Apple iOS|821-540-5777|        1| Safari|  east|
|       Oregon|  Tablet|9.200.232.57|03-13-2021|   Google Android|819-102-1320|        2| Chrome|  west|
|    Minnesota|  Tablet|9.200.232.57|09-30-2021|        Apple iOS|989-156-0498|        3| Safari|  east|
|     Arkansas|  Tablet|9.200.232.57|05-24-2021|      Apple MacOS|225-837-9935|        4| Safari|  east|
|New Hampshire|  Tablet|9.200.232.57|02-01-2021|            Linux|243-842-4562|        5|Firefox|  east|
|  Pensylvania|  Tablet|9.200.232.57|07-23-2021|        Apple iOS|694-501-4352|        6| Safari|  east|
|     New York|Computer|9.200.232.57|10-13-2021|      Apple MacOS|430-449-7136|        7| Safari|  east|
|   California|Computer|9.200.232.57|09-18-2021|Microsoft Windows|633-661-7714|        8|   Edge|  west|
|   Washington|  Tablet|9.200.232.57|05-08-2021|      Apple MacOS|450-036-0504|        9| Safari|  west|
|     Lousiana|  Tablet|9.200.232.57|03-04-2021|            Linux|738-536-6776|       10|Firefox|  east|
|    Minnesota|Computer|9.200.232.57|06-19-2021|   Google Android|682-519-9021|       11| Chrome|  east|
|     Arkansas|  Mobile|9.200.232.57|03-23-2021|   Google Android|678-722-6084|       12| Chrome|  east|
|  Pensylvania|  Mobile|9.200.232.57|04-08-2021|            Linux|781-850-8167|       13|Firefox|  east|
|     Lousiana|  Mobile|9.200.232.57|06-29-2021|Microsoft Windows|208-216-2106|       14|   Edge|  east|
|        Idaho|Computer|9.200.232.57|10-20-2021|            Linux|693-854-2646|       15|Firefox|  west|
|      Montana|  Mobile|9.200.232.57|06-03-2021|            Linux|805-540-1405|       16|Firefox|  west|
|     Nebraska|  Tablet|9.200.232.57|05-27-2021|      Apple MacOS|896-134-1623|       17| Safari|  east|
|      Alabama|  Tablet|9.200.232.57|04-01-2021|      Apple MacOS|850-716-4779|       18| Safari|  east|
|     Missouri|  Tablet|9.200.232.57|06-12-2021|   Google Android|946-565-9757|       19| Chrome|  east|
| Rhode Island|Computer|9.200.232.57|05-09-2021|   Google Android|938-623-1577|       20| Chrome|  east|
+-------------+--------+------------+----------+-----------------+------------+---------+-------+------+
only showing top 20 rows

In [177]:
df_log_review_final = df_log_review_stage.select(
    F.col("id_review").cast("string").alias("review_id"),
    F.col("device"),
    F.col("os"),
    F.col("location"),
    F.to_date(F.col("logDate"), format="MM-dd-yyyy").alias("logDate"),
    F.col("phoneNumber"),
    F.col("ipAddress"),
    F.col("browser"),
    F.col("region"),
)

##### US Seasons
- Spring: March 20, at 3:33 P.M.
- Summer: June 21, at 10:14 A.M.
- Fall: September 23, at 2:04 A.M.
- Winter: December 21, at 9:48 P.M.

In [178]:
from datetime import datetime, timedelta

In [179]:
df_log_review_final = df_log_review_final.withColumn(
    "month_day", F.date_format(F.col('logDate'), 'MMdd').cast('int')
)
df_log_review_final.show(3)

+---------+------+--------------+---------+----------+------------+------------+-------+------+---------+
|review_id|device|            os| location|   logDate| phoneNumber|   ipAddress|browser|region|month_day|
+---------+------+--------------+---------+----------+------------+------------+-------+------+---------+
|        1|Mobile|     Apple iOS|   Kansas|2021-04-25|821-540-5777|9.200.232.57| Safari|  east|      425|
|        2|Tablet|Google Android|   Oregon|2021-03-13|819-102-1320|9.200.232.57| Chrome|  west|      313|
|        3|Tablet|     Apple iOS|Minnesota|2021-09-30|989-156-0498|9.200.232.57| Safari|  east|      930|
+---------+------+--------------+---------+----------+------------+------------+-------+------+---------+
only showing top 3 rows

In [180]:
df_log_review_final.summary().show()

+-------+-----------------+--------+-----------------+--------+------------+------------+-------+------+-----------------+
|summary|        review_id|  device|               os|location| phoneNumber|   ipAddress|browser|region|        month_day|
+-------+-----------------+--------+-----------------+--------+------------+------------+-------+------+-----------------+
|  count|           100000|  100000|           100000|  100000|      100000|      100000| 100000|100000|           100000|
|   mean|          50000.5|    null|             null|    null|        null|        null|   null|  null|        567.95242|
| stddev|28867.65779668774|    null|             null|    null|        null|        null|   null|  null|287.4364823982127|
|    min|                1|Computer|      Apple MacOS| Alabama|100-001-3573|9.200.232.57| Chrome|  east|              101|
|    25%|          24998.0|    null|             null|    null|        null|        null|   null|  null|              317|
|    50%|          50000.0|    null|             null|    null|        null|        null|   null|  null|              601|
|    75%|          74993.0|    null|             null|    null|        null|        null|   null|  null|              816|
|    max|            99999|  Tablet|Microsoft Windows| Wyoming|999-887-8421|9.200.232.57| Safari|  west|             1031|
+-------+-----------------+--------+-----------------+--------+------------+------------+-------+------+-----------------+

In [181]:
seasons = {
    "Winter1": [101, 320],
    "Spring": [320, 621],
    "Summer": [621, 923],
    "Fall": [923, 1221],
    "Winter2": [1221, 1232],
}

In [182]:
df_log_review_final = df_log_review_final.withColumn(
    'season', F.when(
        (F.col('month_day') >= seasons['Spring'][0]) &
        (F.col('month_day') < seasons['Spring'][1]), "Spring"
    ).otherwise(
        F.when(
            (F.col('month_day') >= seasons['Summer'][0]) &
            (F.col('month_day') < seasons['Summer'][1]), "Summer"
        ).otherwise(
            F.when(
                (F.col('month_day') >= seasons['Fall'][0]) &
                (F.col('month_day') < seasons['Fall'][1]), "Fall"
            ).otherwise(
                "Winter"
            )   
        )    
    )
)

In [183]:
df_log_review_final = df_log_review_final.drop('month_day')

In [184]:
print(df_log_review_final.count())
df_log_review_final.show(2)

100000
+---------+------+--------------+--------+----------+------------+------------+-------+------+------+
|review_id|device|            os|location|   logDate| phoneNumber|   ipAddress|browser|region|season|
+---------+------+--------------+--------+----------+------------+------------+-------+------+------+
|        1|Mobile|     Apple iOS|  Kansas|2021-04-25|821-540-5777|9.200.232.57| Safari|  east|Spring|
|        2|Tablet|Google Android|  Oregon|2021-03-13|819-102-1320|9.200.232.57| Chrome|  west|Winter|
+---------+------+--------------+--------+----------+------------+------------+-------+------+------+
only showing top 2 rows

In [186]:
df_log_review_final.printSchema()

root
 |-- review_id: string (nullable = false)
 |-- device: string (nullable = true)
 |-- os: string (nullable = true)
 |-- location: string (nullable = true)
 |-- logDate: date (nullable = true)
 |-- phoneNumber: string (nullable = true)
 |-- ipAddress: string (nullable = true)
 |-- browser: string (nullable = false)
 |-- region: string (nullable = true)
 |-- season: string (nullable = false)

##### Save to parquet

In [185]:
log_review_staging_path = f"gs://{BUCKET_NAME}/Staging/log_review/"
print(log_review_staging_path[5:])
df_log_review_final.write.mode('overwrite').parquet(log_review_staging_path[5:])

capstone-project-dev/Staging/log_review/

In [164]:
# !gsutil cp -r capstone-project-dev/Staging/log_review/ gs://capstone-project-dev/Staging/

Copying file://capstone-project-dev/Staging/log_review/_SUCCESS [Content-Type=application/octet-stream]...
Copying file://capstone-project-dev/Staging/log_review/._SUCCESS.crc [Content-Type=application/octet-stream]...
Copying file://capstone-project-dev/Staging/log_review/.part-00000-daeeb4c2-54cf-4caa-93a2-a28247abc2d5-c000.snappy.parquet.crc [Content-Type=application/octet-stream]...
Copying file://capstone-project-dev/Staging/log_review/part-00000-daeeb4c2-54cf-4caa-93a2-a28247abc2d5-c000.snappy.parquet [Content-Type=application/octet-stream]...
- [4 files][  1.7 MiB/  1.7 MiB]
Operation completed over 4 objects/1.7 MiB.

## Staging aggregations

### Validate diferences id_review in logs files

In [ ]:
df_temp1 = spark.read.option('header', True).csv("data-bootcamp-test-1-dev-data/Raw/log_reviews.csv")
df_temp1.show(2)

+---------+--------------------+
|id_review|                 log|
+---------+--------------------+
|        1|<reviewlog><log><...|
|        2|<reviewlog><log><...|
+---------+--------------------+
only showing top 2 rows

In [ ]:
df_temp2 = spark.read.parquet("data-bootcamp-test-1-dev-data/Staging/log_reviews/")
df_temp2.show(2)

+------+------------+--------+----------+--------------+------------+---------+
|device|   ipAddress|location|   logDate|            os| phoneNumber|id_review|
+------+------------+--------+----------+--------------+------------+---------+
|Mobile|9.200.232.57|  Kansas|04-25-2021|     Apple iOS|821-540-5777|        1|
|Tablet|9.200.232.57|  Oregon|03-13-2021|Google Android|819-102-1320|        2|
+------+------------+--------+----------+--------------+------------+---------+
only showing top 2 rows

In [ ]:
df_temp1.select("id_review").subtract(df_temp2.select("id_review")).show()

+---------+
|id_review|
+---------+
+---------+

In [ ]:
df_temp1.join(
    df_temp2,
    df_temp1.id_review == df_temp2.id_review,
    how='left'
).count()

100000

### Reading tables of staging

In [171]:
user_purchase_stage = spark.read.parquet(f"{BUCKET_NAME}/Staging/user_purchase/")
print(user_purchase_stage.count())
user_purchase_stage.show(2)

387621
+-----------+--------------+----------+------------+--------------------+--------+----------+--------------+
|customer_id|invoice_number|stock_code|invoice_date|              detail|quantity|unit_price|       country|
+-----------+--------------+----------+------------+--------------------+--------+----------+--------------+
|      12346|        541431|     23166|  2011-01-18|MEDIUM CERAMIC TO...|   74215|      1.04|United Kingdom|
|      12347|        537626|     20782|  2010-12-07|CAMOUFLAGE EAR MU...|       6|      5.49|       Iceland|
+-----------+--------------+----------+------------+--------------------+--------+----------+--------------+
only showing top 2 rows

In [172]:
movie_review_stage = spark.read.parquet(f"{BUCKET_NAME}/Staging/movie_review/")
print(movie_review_stage.count())
movie_review_stage.show(2)

100000
+-----------+---------------+---------+
|customer_id|positive_review|review_id|
+-----------+---------------+---------+
|      13756|              0|        1|
|      15738|              0|        2|
+-----------+---------------+---------+
only showing top 2 rows

In [187]:
log_reviews_stage = spark.read.parquet(f"{BUCKET_NAME}/Staging/log_review/")
print(log_reviews_stage.count())
log_reviews_stage.show(2)

100000
+---------+------+--------------+--------+----------+------------+------------+-------+------+------+
|review_id|device|            os|location|   logDate| phoneNumber|   ipAddress|browser|region|season|
+---------+------+--------------+--------+----------+------------+------------+-------+------+------+
|        1|Mobile|     Apple iOS|  Kansas|2021-04-25|821-540-5777|9.200.232.57| Safari|  east|Spring|
|        2|Tablet|Google Android|  Oregon|2021-03-13|819-102-1320|9.200.232.57| Chrome|  west|Winter|
+---------+------+--------------+--------+----------+------------+------------+-------+------+------+
only showing top 2 rows

In [188]:
print(log_reviews_stage.columns)

['review_id', 'device', 'os', 'location', 'logDate', 'phoneNumber', 'ipAddress', 'browser', 'region', 'season']

### OBT Schema

#### Aggregating tables

In [189]:
movie_log_review = log_reviews_stage.join(
    movie_review_stage, on='review_id', how='inner'
)

In [190]:
print(movie_log_review.count())
movie_log_review.show(4)

100000
+---------+------+--------------+---------+----------+------------+------------+-------+------+------+-----------+---------------+
|review_id|device|            os| location|   logDate| phoneNumber|   ipAddress|browser|region|season|customer_id|positive_review|
+---------+------+--------------+---------+----------+------------+------------+-------+------+------+-----------+---------------+
|        1|Mobile|     Apple iOS|   Kansas|2021-04-25|821-540-5777|9.200.232.57| Safari|  east|Spring|      13756|              0|
|        2|Tablet|Google Android|   Oregon|2021-03-13|819-102-1320|9.200.232.57| Chrome|  west|Winter|      15738|              0|
|        3|Tablet|     Apple iOS|Minnesota|2021-09-30|989-156-0498|9.200.232.57| Safari|  east|  Fall|      15727|              0|
|        4|Tablet|   Apple MacOS| Arkansas|2021-05-24|225-837-9935|9.200.232.57| Safari|  east|Spring|      17954|              0|
+---------+------+--------------+---------+----------+------------+------------+-------+------+------+-----------+---------------+
only showing top 4 rows

In [191]:
movie_log_review.groupBy('customer_id').count().orderBy(col('count').desc()).show(5)

+-----------+-----+
|customer_id|count|
+-----------+-----+
|      12621|  141|
|      15827|  140|
|      17812|  140|
|      14334|  138|
|      17062|  138|
+-----------+-----+
only showing top 5 rows

In [192]:
user_purchase_stage.show(2)

+-----------+--------------+----------+------------+--------------------+--------+----------+--------------+
|customer_id|invoice_number|stock_code|invoice_date|              detail|quantity|unit_price|       country|
+-----------+--------------+----------+------------+--------------------+--------+----------+--------------+
|      12346|        541431|     23166|  2011-01-18|MEDIUM CERAMIC TO...|   74215|      1.04|United Kingdom|
|      12347|        537626|     20782|  2010-12-07|CAMOUFLAGE EAR MU...|       6|      5.49|       Iceland|
+-----------+--------------+----------+------------+--------------------+--------+----------+--------------+
only showing top 2 rows

In [193]:
movie_log_review.show(2)

+---------+------+--------------+--------+----------+------------+------------+-------+------+------+-----------+---------------+
|review_id|device|            os|location|   logDate| phoneNumber|   ipAddress|browser|region|season|customer_id|positive_review|
+---------+------+--------------+--------+----------+------------+------------+-------+------+------+-----------+---------------+
|        1|Mobile|     Apple iOS|  Kansas|2021-04-25|821-540-5777|9.200.232.57| Safari|  east|Spring|      13756|              0|
|        2|Tablet|Google Android|  Oregon|2021-03-13|819-102-1320|9.200.232.57| Chrome|  west|Winter|      15738|              0|
+---------+------+--------------+--------+----------+------------+------------+-------+------+------+-----------+---------------+
only showing top 2 rows

In [194]:
user_purchase_stage\
    .groupby(
        ['customer_id', 'stock_code', 'invoice_number', 'invoice_date']
    )\
    .count()\
    .orderBy(col('count').desc())\
    .show(5)

+-----------+----------+--------------+------------+-----+
|customer_id|stock_code|invoice_number|invoice_date|count|
+-----------+----------+--------------+------------+-----+
|      14769|     22659|        567183|  2011-09-18|    2|
|      17602|     22748|        541596|  2011-01-19|    2|
|      17345|     84347|        578548|  2011-11-24|    2|
|      12748|     22839|        550320|  2011-04-17|    2|
|      14769|     22907|        567183|  2011-09-18|    2|
+-----------+----------+--------------+------------+-----+
only showing top 5 rows

In [195]:
movie_log_review\
    .groupBy(
        ['device', 'location', 'logDate', 'os', 'browser']
    )\
    .count()\
    .orderBy(col('count').desc())\
    .show(5)

+--------+--------------+----------+-----------------+-------+-----+
|  device|      location|   logDate|               os|browser|count|
+--------+--------------+----------+-----------------+-------+-----+
|Computer|North Carolina|2021-08-19|Microsoft Windows|   Edge|    5|
|Computer|    New Jersey|2021-01-24|            Linux|Firefox|    5|
|Computer|        Oregon|2021-08-07|      Apple MacOS| Safari|    5|
|  Tablet|       Wyoming|2021-01-04|            Linux|Firefox|    5|
|  Mobile|      Lousiana|2021-02-11|      Apple MacOS| Safari|    5|
+--------+--------------+----------+-----------------+-------+-----+
only showing top 5 rows

In [196]:
user_purchase_stage_ = user_purchase_stage.withColumn(
    'amount', F.round(F.col('unit_price') * F.col('quantity'), 4)
)

#### Purchases table agg by customers

In [197]:
customers_agg = user_purchase_stage_\
    .groupBy('customer_id')\
    .agg(
        round(F.sum("amount"), 4).alias("amount_spent"),
        F.countDistinct("invoice_number").alias("count_invoices"),
        F.first("invoice_date").alias("min_invoice_date"),
        F.last("invoice_date").alias("max_invoice_date")
    )

print(customers_agg.count())
customers_agg.show(3)

4335
+-----------+------------+--------------+----------------+----------------+
|customer_id|amount_spent|count_invoices|min_invoice_date|max_invoice_date|
+-----------+------------+--------------+----------------+----------------+
|      15555|     4767.04|            16|      2011-06-17|      2011-07-04|
|      15574|      638.97|             4|      2010-12-16|      2010-12-02|
|      15634|      243.55|             1|      2011-11-22|      2011-11-22|
+-----------+------------+--------------+----------------+----------------+
only showing top 3 rows

#### Desnormalized db

In [198]:
movie_log_user_review = movie_log_review.join(
    customers_agg, on='customer_id', how='inner'
)

In [199]:
print(movie_log_user_review.count())
movie_log_user_review\
    .orderBy('customer_id')\
    .show(5)

97820
+-----------+---------+------+-----------------+-------------+----------+------------+------------+-------+------+------+---------------+------------+--------------+----------------+----------------+
|customer_id|review_id|device|               os|     location|   logDate| phoneNumber|   ipAddress|browser|region|season|positive_review|amount_spent|count_invoices|min_invoice_date|max_invoice_date|
+-----------+---------+------+-----------------+-------------+----------+------------+------------+-------+------+------+---------------+------------+--------------+----------------+----------------+
|      12347|     4144|Mobile|            Linux|     Oklahoma|2021-08-13|942-645-2732|9.200.232.57|Firefox|  east|Summer|              0|      4310.0|             7|      2011-10-31|      2011-08-02|
|      12347|     9676|Mobile|   Google Android|   Washington|2021-07-07|804-590-0931|9.200.232.57| Chrome|  west|Summer|              1|      4310.0|             7|      2011-10-31|      2011-08-02|
|      12347|     4345|Mobile|        Apple iOS|     Virginia|2021-10-03|251-060-2189|9.200.232.57| Safari|  east|  Fall|              1|      4310.0|             7|      2011-10-31|      2011-08-02|
|      12347|      938|Mobile|      Apple MacOS|       Kansas|2021-07-10|773-490-0967|9.200.232.57| Safari|  east|Summer|              0|      4310.0|             7|      2011-10-31|      2011-08-02|
|      12347|     4395|Tablet|Microsoft Windows|Massachussets|2021-07-16|486-266-8885|9.200.232.57|   Edge|  east|Summer|              0|      4310.0|             7|      2011-10-31|      2011-08-02|
+-----------+---------+------+-----------------+-------------+----------+------------+------------+-------+------+------+---------------+------------+--------------+----------------+----------------+
only showing top 5 rows

In [ ]:
# obt_table = movie_log_user_review\
#     .groupBy("customer_id")\
#     .agg(
#         F.sum(F.col('positive_review')).alias("review_score"),
#         F.count(F.col('review_id')).alias("review_count") 
#     )

# obt_table.show(3)

In [204]:
obt_table = movie_log_user_review.groupby(
    [
        'customer_id', 'amount_spent', 'count_invoices',
        'min_invoice_date', 'max_invoice_date',
     
        'logDate', 'season', 'device',
        'location', 'region', 'os', 'browser'
    ]
).agg(
    # F.max(col('amount_spent')).alias("amount_spent"),
    # F.max(col('count_invoices')).alias("count_invoices"),
    # F.max(col('min_invoice_date')).alias("min_invoice_date"),
    # F.max(col('max_invoice_date')).alias("max_invoice_date"),
    F.countDistinct(col("review_id")).alias("review_count"),
    F.sum(col("positive_review")).alias("review_score")
)

print(obt_table.count())
obt_table.show(3)

97803
+-----------+------------+--------------+----------------+----------------+----------+------+------+--------+------+--------------+-------+------------+------------+
|customer_id|amount_spent|count_invoices|min_invoice_date|max_invoice_date|   logDate|season|device|location|region|            os|browser|review_count|review_score|
+-----------+------------+--------------+----------------+----------------+----------+------+------+--------+------+--------------+-------+------------+------------+
|      15070|       106.2|             1|      2010-12-02|      2010-12-02|2021-10-04|  Fall|Mobile|Michigan|  east|   Apple MacOS| Safari|           1|           0|
|      13126|     2099.64|             8|      2011-01-05|      2010-12-08|2021-02-27|Winter|Tablet|Illinois|  east|Google Android| Chrome|           1|           1|
|      17017|     8694.26|            20|      2011-04-13|      2010-12-02|2021-06-30|Summer|Tablet|Virginia|  east|Google Android| Chrome|           1|           0|
+-----------+------------+--------------+----------------+----------------+----------+------+------+--------+------+--------------+-------+------------+------------+
only showing top 3 rows

In [253]:
obt_table = obt_table.withColumn(
    'insert_date', F.lit(date.today())
)

In [254]:
print(obt_table.count())
obt_table\
    .orderBy('review_count')\
    .show(5)

97803
+-----------+------------+--------------+----------------+----------------+----------+------+--------+----------+------+--------------+-------+------------+------------+-----------+
|customer_id|amount_spent|count_invoices|min_invoice_date|max_invoice_date|   logDate|season|  device|  location|region|            os|browser|review_count|review_score|insert_date|
+-----------+------------+--------------+----------------+----------------+----------+------+--------+----------+------+--------------+-------+------------+------------+-----------+
|      15070|       106.2|             1|      2010-12-02|      2010-12-02|2021-10-04|  Fall|  Mobile|  Michigan|  east|   Apple MacOS| Safari|           1|           0| 2022-08-09|
|      13126|     2099.64|             8|      2011-01-05|      2010-12-08|2021-02-27|Winter|  Tablet|  Illinois|  east|Google Android| Chrome|           1|           1| 2022-08-09|
|      17017|     8694.26|            20|      2011-04-13|      2010-12-02|2021-06-30|Summer|  Tablet|  Virginia|  east|Google Android| Chrome|           1|           0| 2022-08-09|
|      17338|     6264.99|             8|      2011-02-21|      2011-01-12|2021-07-17|Summer|Computer|New Mexico|  west|     Apple iOS| Safari|           1|           1| 2022-08-09|
|      13941|     5112.96|             5|      2011-09-11|      2011-06-21|2021-01-02|Winter|Computer|   Florida|  east|         Linux|Firefox|           1|           0| 2022-08-09|
+-----------+------------+--------------+----------------+----------------+----------+------+--------+----------+------+--------------+-------+------------+------------+-----------+
only showing top 5 rows

In [206]:
obt_table.select(
    F.min('logDate'),
    F.max('logDate')
).show()

+------------+------------+
|min(logDate)|max(logDate)|
+------------+------------+
|  2021-01-01|  2021-10-31|
+------------+------------+

#### OBT Schema

In [ ]:
# obt_nested_table = movie_log_user_review\
#     .groupby(
#         ['customer_id', 'location', 'logDate', 'device',  'os', 'browser'] # , 
#     ).agg(
#         F.max(col('amount_spent')).alias("amount_spent"),
#         F.max(col('count_invoices')).alias("count_invoices"),
#         F.max(col('min_invoice_date')).alias("min_invoice_date"),
#         F.max(col('max_invoice_date')).alias("max_invoice_date"),
#         F.countDistinct(col("review_id")).alias("review_count"),
#         F.sum(col("positive_review")).alias("review_score"),
#         F.collect_list(
#             F.struct(
#                 F.struct(
#                     F.col("location"),
#                     F.col("region"),
#                 ).alias('location_info'),
#                 F.struct(
#                     F.col("logDate"),
#                     F.date_format(F.col('logDate'), 'dd').alias('day'),
#                     F.date_format(F.col('logDate'), 'MM').alias('month'),
#                     F.date_format(F.col('logDate'), 'yyyy').alias('year')
#                 ),
#                 F.col("device"),
#                 F.col("browser"),
#                 F.col("os")
#             )
#         ).alias('reviews')
#     )\
#     .drop(
#         "location", "logDate",  "device", "browser", "os"
#     )
# # .orderBy(F.col('review_count').desc(), F.col('customer_id')).show(30, False)

In [255]:
obt_nested_table = obt_table\
    .groupby(
        ['customer_id', 'amount_spent', 'count_invoices', 'min_invoice_date', 'max_invoice_date'] # , 
    ).agg(
        F.collect_list(
            F.struct(
                F.struct(
                    F.col("location"),
                    F.col("region"),
                ).alias('location_info'),
                F.struct(
                    F.col("logDate").alias('log_date'),
                    F.dayofmonth(F.to_date('logDate',  'MM-dd-yyyy')).alias('day'),
                    F.month(F.to_date('logDate',  'MM-dd-yyyy')).alias('month'),
                    F.year(F.to_date('logDate',  'MM-dd-yyyy')).alias('year'),
                    F.col('season')
                ).alias('log_date_info'),
                F.col("device"),
                F.col("browser"),
                F.col("os"),
                F.col('review_count'),
                F.col('review_score')
            )
        ).alias('reviews')
    )\
    .drop(
        "location", "logDate",  "device", "browser", "os"
    )
# .orderBy(F.col('review_count').desc(), F.col('customer_id')).show(30, False)

In [256]:
obt_nested_table = obt_nested_table.withColumn(
    'insert_date', F.lit(date.today())
)

In [257]:
print(obt_nested_table.count())
obt_nested_table.show(2)

889
+-----------+------------+--------------+----------------+----------------+--------------------+-----------+
|customer_id|amount_spent|count_invoices|min_invoice_date|max_invoice_date|             reviews|insert_date|
+-----------+------------+--------------+----------------+----------------+--------------------+-----------+
|      12348|     1595.64|             4|      2011-09-25|      2011-04-05|[{{Arkansas, east...| 2022-08-09|
|      12370|     3541.94|             4|      2010-12-14|      2011-03-10|[{{Indiana, east}...| 2022-08-09|
+-----------+------------+--------------+----------------+----------------+--------------------+-----------+
only showing top 2 rows

In [258]:
obt_nested_table.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- amount_spent: double (nullable = true)
 |-- count_invoices: long (nullable = false)
 |-- min_invoice_date: date (nullable = true)
 |-- max_invoice_date: date (nullable = true)
 |-- reviews: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- location_info: struct (nullable = false)
 |    |    |    |-- location: string (nullable = true)
 |    |    |    |-- region: string (nullable = true)
 |    |    |-- log_date_info: struct (nullable = false)
 |    |    |    |-- log_date: date (nullable = true)
 |    |    |    |-- day: integer (nullable = true)
 |    |    |    |-- month: integer (nullable = true)
 |    |    |    |-- year: integer (nullable = true)
 |    |    |    |-- season: string (nullable = true)
 |    |    |-- device: string (nullable = true)
 |    |    |-- browser: string (nullable = true)
 |    |    |-- os: string (nullable = true)
 |    |    |-- review_count: long (nullable = false)
 |    |    |-- review_score: long (nullable = true)
 |-- insert_date: date (nullable = false)

In [259]:
obt_nested_schema = [
    {
        "name": "customer_id",
        "type": "INT64",
        "mode": "REQUIRED"
    },
    {
        "name": "amount_spent",
        "type": "FLOAT64",
        "mode": "NULLABLE"
    },
    {
        "name": "count_invoices",
        "type": "INT64",
        "mode": "NULLABLE"
    },
    {
        "name": "min_invoice_date",
        "type": "DATE",
        "mode": "NULLABLE"
    },
    {
        "name": "max_invoice_date",
        "type": "DATE",
        "mode": "NULLABLE"
    },    
    {
        "name": "reviews",
        "type": "RECORD",
        "mode": "REPEATED",
        "fields": [
            {
                "name": "location_info",
                "type": "STRUCT",
                "mode": "NULLABLE",
                "fields": [
                    {
                        "name": "location",
                        "type": "STRING",
                        "mode": "NULLABLE"
                    },
                    {
                        "name": "region",
                        "type": "STRING",
                        "mode": "NULLABLE"
                    },

                ]
            },
            {
                "name": "log_date_info",
                "type": "STRUCT",
                "mode": "NULLABLE",
                "fields": [
                    {
                        "name": "log_date",
                        "type": "DATE",
                        "mode": "NULLABLE"
                    },
                    {
                        "name": "day",
                        "type": "INT64",
                        "mode": "NULLABLE"
                    },
                    {
                        "name": "month",
                        "type": "INT64",
                        "mode": "NULLABLE"
                    },
                    {
                        "name": "year",
                        "type": "INT64",
                        "mode": "NULLABLE"
                    },
                    {
                        "name": "season",
                        "type": "STRING",
                        "mode": "NULLABLE"
                    },

                ]
            },
            {
                "name": "device",
                "type": "STRING",
                "mode": "NULLABLE"
            },
            {
                "name": "browser",
                "type": "STRING",
                "mode": "NULLABLE"
            },
            {
                "name": "os",
                "type": "STRING",
                "mode": "NULLABLE"
            },
            {
                "name": "review_count",
                "type": "INT64",
                "mode": "NULLABLE"
            },
            {
                "name": "review_score",
                "type": "FLOAT64",
                "mode": "NULLABLE"
            }
        ]
    },
    {
        "name": "insert_date",
        "type": "DATE",
        "mode": "NULLABLE"
    }
]
obt_nested_schema

[{'mode': 'REQUIRED', 'name': 'customer_id', 'type': 'INT64'},
 {'mode': 'NULLABLE', 'name': 'amount_spent', 'type': 'FLOAT64'},
 {'mode': 'NULLABLE', 'name': 'count_invoices', 'type': 'INT64'},
 {'mode': 'NULLABLE', 'name': 'min_invoice_date', 'type': 'DATE'},
 {'mode': 'NULLABLE', 'name': 'max_invoice_date', 'type': 'DATE'},
 {'fields': [{'fields': [{'mode': 'NULLABLE',
      'name': 'location',
      'type': 'STRING'},
     {'mode': 'NULLABLE', 'name': 'region', 'type': 'STRING'}],
    'mode': 'NULLABLE',
    'name': 'location_info',
    'type': 'STRUCT'},
   {'fields': [{'mode': 'NULLABLE', 'name': 'log_date', 'type': 'DATE'},
     {'mode': 'NULLABLE', 'name': 'day', 'type': 'INT64'},
     {'mode': 'NULLABLE', 'name': 'month', 'type': 'INT64'},
     {'mode': 'NULLABLE', 'name': 'year', 'type': 'INT64'},
     {'mode': 'NULLABLE', 'name': 'season', 'type': 'STRING'}],
    'mode': 'NULLABLE',
    'name': 'log_date_info',
    'type': 'STRUCT'},
   {'mode': 'NULLABLE', 'name': 'device', 'type': 'STRING'},
   {'mode': 'NULLABLE', 'name': 'browser', 'type': 'STRING'},
   {'mode': 'NULLABLE', 'name': 'os', 'type': 'STRING'},
   {'mode': 'NULLABLE', 'name': 'review_count', 'type': 'INT64'},
   {'mode': 'NULLABLE', 'name': 'review_score', 'type': 'FLOAT64'}],
  'mode': 'REPEATED',
  'name': 'reviews',
  'type': 'RECORD'},
 {'mode': 'NULLABLE', 'name': 'insert_date', 'type': 'DATE'}]

In [260]:
obt_table.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- amount_spent: double (nullable = true)
 |-- count_invoices: long (nullable = false)
 |-- min_invoice_date: date (nullable = true)
 |-- max_invoice_date: date (nullable = true)
 |-- logDate: date (nullable = true)
 |-- season: string (nullable = true)
 |-- device: string (nullable = true)
 |-- location: string (nullable = true)
 |-- region: string (nullable = true)
 |-- os: string (nullable = true)
 |-- browser: string (nullable = true)
 |-- review_count: long (nullable = false)
 |-- review_score: long (nullable = true)
 |-- insert_date: date (nullable = false)

In [261]:
obt_schema = [
    {
        "name": "customer_id",
        "type": "INT64",
        "mode": "REQUIRED"
    },
    {
        "name": "amount_spent",
        "type": "FLOAT64",
        "mode": "NULLABLE"
    },
    {
        "name": "count_invoices",
        "type": "INT64",
        "mode": "NULLABLE"
    },
    {
        "name": "min_invoice_date",
        "type": "DATE",
        "mode": "NULLABLE"
    },
    {
        "name": "max_invoice_date",
        "type": "DATE",
        "mode": "NULLABLE"
    },
    {
        "name": "log_date",
        "type": "DATE",
        "mode": "NULLABLE"
    },
    {
        "name": "season",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "device",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "location",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "region",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "os",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "browser",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "review_count",
        "type": "INT64",
        "mode": "NULLABLE"
    },
    {
        "name": "review_score",
        "type": "FLOAT64",
        "mode": "NULLABLE"
    },
    {
        "name": "insert_date",
        "type": "DATE",
        "mode": "NULLABLE"
    }
]
obt_schema

[{'mode': 'REQUIRED', 'name': 'customer_id', 'type': 'INT64'},
 {'mode': 'NULLABLE', 'name': 'amount_spent', 'type': 'FLOAT64'},
 {'mode': 'NULLABLE', 'name': 'count_invoices', 'type': 'INT64'},
 {'mode': 'NULLABLE', 'name': 'min_invoice_date', 'type': 'DATE'},
 {'mode': 'NULLABLE', 'name': 'max_invoice_date', 'type': 'DATE'},
 {'mode': 'NULLABLE', 'name': 'log_date', 'type': 'DATE'},
 {'mode': 'NULLABLE', 'name': 'season', 'type': 'STRING'},
 {'mode': 'NULLABLE', 'name': 'device', 'type': 'STRING'},
 {'mode': 'NULLABLE', 'name': 'location', 'type': 'STRING'},
 {'mode': 'NULLABLE', 'name': 'region', 'type': 'STRING'},
 {'mode': 'NULLABLE', 'name': 'os', 'type': 'STRING'},
 {'mode': 'NULLABLE', 'name': 'browser', 'type': 'STRING'},
 {'mode': 'NULLABLE', 'name': 'review_count', 'type': 'INT64'},
 {'mode': 'NULLABLE', 'name': 'review_score', 'type': 'FLOAT64'},
 {'mode': 'NULLABLE', 'name': 'insert_date', 'type': 'DATE'}]

In [262]:
with open("obt_schema_bigquery.json", 'w') as f:
    f.write(
        json.dumps(obt_schema)
    )

with open("obt_nested_schema_bigquery.json", 'w') as f:
    f.write(
        json.dumps(obt_nested_schema)
    )

In [263]:
upload_file_to_gcs(
    BUCKET_NAME, 'Others/', 'obt_schema_bigquery.json'
)

upload_file_to_gcs(
    BUCKET_NAME, 'Others/', 'obt_nested_schema_bigquery.json'
)

WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable
WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable
WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable
WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable

In [265]:
from datetime import date
date.today()

datetime.date(2022, 8, 9)

In [264]:
upload_file_to_gcs(
    BUCKET_NAME, 'Data_proc_scripts/', 'agg_data.py'
)

WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable
WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable

In [250]:
upload_file_to_gcs(
    BUCKET_NAME, 'Data_proc_scripts/', 'clean_data.py'
)

WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable
WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable

In [ ]:
# root
#  |-- name: string (nullable = true)
#  |-- booksIntersted: array (nullable = true)
#  |    |-- element: struct (containsNull = true)
#  |    |    |-- name: string (nullable = true)
#  |    |    |-- author: string (nullable = true)
#  |    |    |-- pages: integer (nullable = true)

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

##### Save OBT table

In [231]:
# Output
OBT_FINAL_PATH = \
    f"gs://{BUCKET_NAME}/Final/obt_table/"

OBT_NESTED_FINAL_PATH = \
    f"gs://{BUCKET_NAME}/Final/obt_nested_table/"

In [232]:
obt_table\
    .write.mode('overwrite')\
    .parquet(OBT_FINAL_PATH[5:])

obt_nested_table\
    .write.mode('overwrite')\
    .parquet(OBT_NESTED_FINAL_PATH[5:])

In [233]:
# obt_nested_table.write.parquet('/content/data-bootcamp-test-1-dev-data/Final/obt_table/')

In [234]:
# !gsutil -m cp -r "/content/data-bootcamp-test-1-dev-data/Final/*" "gs://data-bootcamp-test-1-dev-data/Final/"

In [235]:
# !gsutil -m cp -r "/content/data-bootcamp-test-1-dev-data/Staging/movie_review/*" "gs://data-bootcamp-test-1-dev-data/Staging/movie_review/"

### Star Schema

In [ ]:
movie_log_user_review.select(col('id_review')).distinct().count()

100000

##### Dim tables

In [ ]:
movie_log_review_.select(col('user_id')).distinct().count()

909

In [ ]:
movie_log_user_review.groupBy(['os', 'device']).count().toPandas()[['device', 'os']].apply(lambda x: "_".join(x), axis=1).to_list()

['Tablet_Apple iOS',
 'Tablet_Linux',
 'Tablet_Apple MacOS',
 'Mobile_Microsoft Windows',
 'Tablet_Microsoft Windows',
 'Computer_Linux',
 'Mobile_Apple iOS',
 'Computer_Google Android',
 'Computer_Apple MacOS',
 'Mobile_Apple MacOS',
 'Computer_Apple iOS',
 'Computer_Microsoft Windows',
 'Mobile_Google Android',
 'Mobile_Linux',
 'Tablet_Google Android']

In [ ]:
mix_os_devices = {
    'Tablet_Apple iOS': "Safari",
    'Tablet_Linux': "Firefox",
    'Tablet_Apple MacOS': "Safari",
    'Mobile_Microsoft Windows': "Chrome",
    'Tablet_Microsoft Windows': "Chrome",
    'Computer_Linux': "Firefox",
    'Mobile_Apple iOS': "Safari",
    'Computer_Google Android': "Chrome",
    'Computer_Apple MacOS': "Safari",
    'Mobile_Apple MacOS': "",
    'Computer_Apple iOS': "",
    'Computer_Microsoft Windows': "Edge",
    'Mobile_Google Android': "Chrome",
    'Mobile_Linux': "",
    'Tablet_Google Android': ""
}
mix_os_devices

{'Computer_Apple MacOS': 'Safari',
 'Computer_Apple iOS': '',
 'Computer_Google Android': 'Chrome',
 'Computer_Linux': 'Firefox',
 'Computer_Microsoft Windows': 'Edge',
 'Mobile_Apple MacOS': '',
 'Mobile_Apple iOS': 'Safari',
 'Mobile_Google Android': 'Chrome',
 'Mobile_Linux': '',
 'Mobile_Microsoft Windows': 'Chrome',
 'Tablet_Apple MacOS': 'Safari',
 'Tablet_Apple iOS': 'Safari',
 'Tablet_Google Android': '',
 'Tablet_Linux': 'Firefox',
 'Tablet_Microsoft Windows': 'Chrome'}

In [ ]:
movie_log_user_review = movie_log_user_review.withColumn(
    "browser", when(
        col('os') == "Linux", "Firefox"
    ).otherwise(
        when(
            col('os') == "Google Android", "Chrome"
        ).otherwise(
            when(
                col('os') == "Microsoft Windows", "Edge"
            ).otherwise(
                "Safari"
            )
        )
    )
)

In [ ]:
# newDf = df.withColumn('address', regexp_replace('address', 'lane', 'ln'))

In [ ]:
dim_date = movie_log_user_review.select(col('logDate')).distinct()
dim_os = movie_log_user_review.select(col('os')).distinct()
dim_device = movie_log_user_review.select(col('device')).distinct()
dim_location = movie_log_user_review.select(col('location')).distinct()
dim_browser = movie_log_user_review.select(col('browser')).distinct()

In [ ]:
dim_date.show(2)

+----------+
|   logDate|
+----------+
|05-01-2021|
|05-04-2021|
+----------+
only showing top 2 rows

In [ ]:
dim_os.show()

+-----------------+
|               os|
+-----------------+
|Microsoft Windows|
|            Linux|
|        Apple iOS|
|      Apple MacOS|
|   Google Android|
+-----------------+

In [ ]:
dim_device.show()

+--------+
|  device|
+--------+
|Computer|
|  Mobile|
|  Tablet|
+--------+

In [ ]:
dim_location.show(2)

+--------+
|location|
+--------+
|    Utah|
|  Hawaii|
+--------+
only showing top 2 rows

In [ ]:
dim_browser.show(2)

+-------+
|browser|
+-------+
|Firefox|
| Safari|
+-------+
only showing top 2 rows

In [ ]:
print(movie_log_user_review.count())
print(movie_log_user_review.columns)

99907
['device', 'ipAddress', 'location', 'logDate', 'os', 'phoneNumber', 'id_review', 'user_id', 'positive_review', 'customer_id', 'amount_spent', 'invoices_count', 'min_invoice_date', 'max_invoice_date']

In [ ]:
movie_log_user_review.orderBy(
    ['customer_id', 'logDate', 'device', 'location', 'os', 'browser']
).select(["customer_id", "*"]).show(5)

+-----------+--------+------------+-------------+----------+-----------------+------------+---------+-------+---------------+-----------+------------+--------------+-------------------+-------------------+-------+
|customer_id|  device|   ipAddress|     location|   logDate|               os| phoneNumber|id_review|user_id|positive_review|customer_id|amount_spent|invoices_count|   min_invoice_date|   max_invoice_date|browser|
+-----------+--------+------------+-------------+----------+-----------------+------------+---------+-------+---------------+-----------+------------+--------------+-------------------+-------------------+-------+
|      12347|  Mobile|9.200.232.57|West Virginia|01-01-2021|   Google Android|803-574-7067|    27210|  12347|              0|      12347|      4310.0|             7|2011-10-31 12:25:00|2010-12-07 14:57:00| Chrome|
|      12347|  Tablet|9.200.232.57|  Pensylvania|01-02-2021|Microsoft Windows|618-707-4496|    90119|  12347|              0|      12347|      4310.0|             7|2011-10-31 12:25:00|2010-12-07 14:57:00|   Edge|
|      12347|Computer|9.200.232.57|         Iowa|01-03-2021|            Linux|933-628-1487|    33699|  12347|              1|      12347|      4310.0|             7|2011-10-31 12:25:00|2010-12-07 14:57:00|Firefox|
|      12347|Computer|9.200.232.57|       Alaska|01-06-2021|   Google Android|344-203-9341|    32540|  12347|              0|      12347|      4310.0|             7|2011-10-31 12:25:00|2010-12-07 14:57:00| Chrome|
|      12347|  Mobile|9.200.232.57|       Alaska|01-09-2021|Microsoft Windows|201-698-7509|    44271|  12347|              0|      12347|      4310.0|             7|2011-10-31 12:25:00|2010-12-07 14:57:00|   Edge|
+-----------+--------+------------+-------------+----------+-----------------+------------+---------+-------+---------------+-----------+------------+--------------+-------------------+-------------------+-------+
only showing top 5 rows

In [ ]:
['customer_id', 'logDate', 'device', 'location', 'os', 'browser'] = movie_log_user_review.groupby(
    ['customer_id', 'logDate', 'device', 'location', 'os', 'browser']
).count().orderBy(col('count').desc())

print(temp_1.count())
temp_1.show()

99983
+-----------+----------+--------+-------------+-----------------+-------+-----+
|customer_id|   logDate|  device|     location|               os|browser|count|
+-----------+----------+--------+-------------+-----------------+-------+-----+
|      14060|04-03-2021|  Mobile|     Oklahoma|Microsoft Windows|   Edge|    2|
|      14344|08-29-2021|Computer|        Idaho|            Linux|Firefox|    2|
|      13108|08-26-2021|  Tablet|    Wisconsin|Microsoft Windows|   Edge|    2|
|      15111|10-21-2021|  Mobile|     Missouri|            Linux|Firefox|    2|
|      14733|01-10-2021|  Mobile|      Indiana|            Linux|Firefox|    2|
|      16718|09-26-2021|  Tablet|     Illinois|      Apple MacOS| Safari|    2|
|      12877|06-02-2021|  Mobile|        Texas|   Google Android| Chrome|    2|
|      15070|01-13-2021|  Mobile|       Hawaii|        Apple iOS| Safari|    2|
|      14161|08-05-2021|Computer|      Wyoming|            Linux|Firefox|    2|
|      14404|01-28-2021|  Tablet|   New Mexico|Microsoft Windows|   Edge|    2|
|      14505|05-19-2021|  Mobile|        Maine|        Apple iOS| Safari|    2|
|      13807|08-10-2021|Computer|     Missouri|            Linux|Firefox|    2|
|      15361|10-28-2021|Computer|      Georgia|   Google Android| Chrome|    2|
|      13969|05-13-2021|  Tablet|     Virginia|   Google Android| Chrome|    2|
|      13999|05-01-2021|Computer|   New Jersey|      Apple MacOS| Safari|    2|
|      17827|01-06-2021|Computer|    Wisconsin|            Linux|Firefox|    2|
|      14594|08-12-2021|  Mobile|West Virginia|Microsoft Windows|   Edge|    2|
|      14390|08-16-2021|  Tablet|     Kentucky|            Linux|Firefox|    1|
|      12721|05-16-2021|Computer|        Maine|      Apple MacOS| Safari|    1|
|      17954|10-22-2021|  Tablet|      Alabama|        Apple iOS| Safari|    1|
+-----------+----------+--------+-------------+-----------------+-------+-----+
only showing top 20 rows

In [ ]:
temp_1.groupBy('count').count().show()

+-----+-----+
|count|count|
+-----+-----+
|    1|99966|
|    2|   17|
+-----+-----+

In [ ]:
temp_2.groupBy('count').count().show()

+-----+-----+
|count|count|
+-----+-----+
|    5|    2|
|    1|86427|
|    3|  308|
|    2| 6253|
|    4|   10|
+-----+-----+

In [ ]:
temp_2 = movie_log_user_review.groupby(
    ['customer_id', 'device', 'location', 'os', 'browser']
).count().orderBy(col('count').desc())

print(temp_2.count())
temp_2.show()

93000
+-----------+--------+-------------+-----------------+-------+-----+
|customer_id|  device|     location|               os|browser|count|
+-----------+--------+-------------+-----------------+-------+-----+
|      15301|  Mobile|     Lousiana|        Apple iOS| Safari|    5|
|      16770|  Tablet|   New Mexico|Microsoft Windows|   Edge|    5|
|      13959|Computer|       Nevada|        Apple iOS| Safari|    4|
|      13982|  Tablet|     Maryland|      Apple MacOS| Safari|    4|
|      15547|Computer|     Missouri|Microsoft Windows|   Edge|    4|
|      14735|  Mobile|     Maryland|            Linux|Firefox|    4|
|      13093|  Mobile|   New Mexico|        Apple iOS| Safari|    4|
|      17752|Computer|      Alabama|   Google Android| Chrome|    4|
|      15838|  Tablet|    Tennessee|   Google Android| Chrome|    4|
|      14334|  Tablet|     Delaware|            Linux|Firefox|    4|
|      15858|  Mobile|     Colorado|        Apple iOS| Safari|    4|
|      16782|  Mobile|       Hawaii|   Google Android| Chrome|    4|
|      16553|  Mobile|   New Jersey|   Google Android| Chrome|    3|
|      16265|Computer|     Lousiana|            Linux|Firefox|    3|
|      15811|  Mobile|     Nebraska|        Apple iOS| Safari|    3|
|      14401|  Tablet|West Virginia|            Linux|Firefox|    3|
|      17259|Computer|         Ohio|   Google Android| Chrome|    3|
|      15224|  Tablet| Rhode Island|      Apple MacOS| Safari|    3|
|      14161|  Mobile| South Dakota|        Apple iOS| Safari|    3|
|      16350|  Mobile|    Tennessee|   Google Android| Chrome|    3|
+-----------+--------+-------------+-----------------+-------+-----+
only showing top 20 rows

In [ ]:
movie_log_user_review.groupby(
    ['customer_id', 'device', 'location', 'os', 'browser']
).count().orderBy(col('count').desc()).groupBy('count').count().show()

+-----+-----+
|count|count|
+-----+-----+
|    5|    2|
|    1|86427|
|    3|  308|
|    2| 6253|
|    4|   10|
+-----+-----+

In [ ]:
movie_log_user_review.show(1)

+------+------------+--------+----------+-----------+------------+---------+-------+---------------+-----------+------------+--------------+-------------------+-------------------+-------+
|device|   ipAddress|location|   logDate|         os| phoneNumber|id_review|user_id|positive_review|customer_id|amount_spent|invoices_count|   min_invoice_date|   max_invoice_date|browser|
+------+------------+--------+----------+-----------+------------+---------+-------+---------------+-----------+------------+--------------+-------------------+-------------------+-------+
|Mobile|9.200.232.57| Vermont|09-12-2021|Apple MacOS|758-793-0419|     1187|  14850|              0|      14850|      278.15|             2|2011-02-01 11:21:00|2010-12-07 08:42:00| Safari|
+------+------------+--------+----------+-----------+------------+---------+-------+---------------+-----------+------------+--------------+-------------------+-------------------+-------+
only showing top 1 row

#### Fact table

revisa la union de los customers con los reviews

In [ ]:
fact_table = movie_log_user_review.groupby(
    ['customer_id', 'device', 'location', 'os', 'browser']
).agg(
    max_pyspark(col('amount_spent')).alias("amount_spent"),
    max_pyspark(col('invoices_count')).alias("invoices_count"),
    countDistinct(col("id_review")).alias("review_count"),
    sum_pyspark(col("positive_review")).alias("review_score")
)

print(fact_table.count())
fact_table.show()

93000
+-----------+--------+-------------+-----------------+-------+------------+--------------+------------+------------+
|customer_id|  device|     location|               os|browser|amount_spent|invoices_count|review_count|review_score|
+-----------+--------+-------------+-----------------+-------+------------+--------------+------------+------------+
|      15194|  Tablet|         Utah|Microsoft Windows|   Edge|     7521.17|            22|           1|           1|
|      15194|  Tablet|         Utah|        Apple iOS| Safari|     7521.17|            22|           2|           0|
|      15194|Computer|  Mississippi|            Linux|Firefox|     7521.17|            22|           1|           0|
|      15194|  Mobile|     Nebraska|Microsoft Windows|   Edge|     7521.17|            22|           1|           1|
|      15194|  Tablet|      Montana|Microsoft Windows|   Edge|     7521.17|            22|           2|           1|
|      15194|  Tablet|      Arizona|      Apple MacOS| Safari|     7521.17|            22|           1|           0|
|      15194|  Tablet|     Maryland|   Google Android| Chrome|     7521.17|            22|           1|           0|
|      15194|  Mobile|     Lousiana|        Apple iOS| Safari|     7521.17|            22|           2|           2|
|      15194|  Tablet|     Oklahoma|Microsoft Windows|   Edge|     7521.17|            22|           2|           1|
|      15194|  Mobile|     Michigan|      Apple MacOS| Safari|     7521.17|            22|           1|           0|
|      15194|  Tablet|     Colorado|            Linux|Firefox|     7521.17|            22|           1|           1|
|      15194|  Tablet|      Georgia|Microsoft Windows|   Edge|     7521.17|            22|           1|           0|
|      15194|Computer| Rhode Island|   Google Android| Chrome|     7521.17|            22|           1|           1|
|      15194|  Mobile|  Mississippi|   Google Android| Chrome|     7521.17|            22|           1|           0|
|      15194|Computer|       Kansas|Microsoft Windows|   Edge|     7521.17|            22|           1|           1|
|      15194|  Mobile|New Hampshire|            Linux|Firefox|     7521.17|            22|           1|           0|
|      15194|  Tablet|     Illinois|      Apple MacOS| Safari|     7521.17|            22|           1|           0|
|      15194|Computer|    Minnesota|            Linux|Firefox|     7521.17|            22|           1|           0|
|      15194|  Tablet|    Minnesota|        Apple iOS| Safari|     7521.17|            22|           1|           0|
|      15194|  Mobile|     Michigan|            Linux|Firefox|     7521.17|            22|           1|           1|
+-----------+--------+-------------+-----------------+-------+------------+--------------+------------+------------+
only showing top 20 rows

In [ ]:
dim_device

DataFrame[device: string]

In [ ]:
# fact_table.select('os').distinct().toPandas().to_dict()

{'os': {0: 'Microsoft Windows',
  1: 'Linux',
  2: 'Apple iOS',
  3: 'Apple MacOS',
  4: 'Google Android'}}

In [ ]:
# {'device': {0: 'Computer', 1: 'Mobile', 2: 'Tablet'}}

# {'os': {0: 'Microsoft Windows',
#   1: 'Linux',
#   2: 'Apple iOS',
#   3: 'Apple MacOS',
#   4: 'Google Android'}}

In [ ]:
print(movie_log_user_review.groupby(
    ['logDate', 'device', 'location', 'os', 'browser']
).count().orderBy(col('count').desc()).count())

80937

In [ ]:
print(movie_log_user_review.groupby(
    ['stock_code', 'logDate', 'device', 'location', 'os', 'browser']
).count().count())

10224460

In [ ]:
print(movie_log_user_review.groupby(
    ['user_id', 'logDate', 'device', 'location', 'os', 'browser']
).count().count())

99983

In [ ]:
# from datetime import date, datetime

# Y = 2000 # dummy leap year to allow input X-02-29 (leap day)
# seasons = [('winter', (date(Y,  1,  1),  date(Y,  3, 20))),
#            ('spring', (date(Y,  3, 21),  date(Y,  6, 20))),
#            ('summer', (date(Y,  6, 21),  date(Y,  9, 22))),
#            ('autumn', (date(Y,  9, 23),  date(Y, 12, 20))),
#            ('winter', (date(Y, 12, 21),  date(Y, 12, 31)))]

# def get_season(now):
#     if isinstance(now, datetime):
#         now = now.date()
#     now = now.replace(year=Y)
#     return next(season for season, (start, end) in seasons
#                 if start <= now <= end)

# print(get_season(date.today()))

In [ ]:
movie_log_user_review.groupBy(
    ['device', 'location', 'logDate', 'os', 'user_id']
).count().orderBy(col('count').desc()).show()

+--------+--------------+----------+-----------------+-------+-----+
|  device|      location|   logDate|               os|user_id|count|
+--------+--------------+----------+-----------------+-------+-----+
|  Mobile|         Texas|10-11-2021|      Apple MacOS|  17841| 7812|
|  Mobile|    New Mexico|04-12-2021|      Apple MacOS|  17841| 7812|
|  Mobile|    Washington|05-05-2021|Microsoft Windows|  17841| 7812|
|  Tablet|       Vermont|09-18-2021|Microsoft Windows|  17841| 7812|
|Computer|      Missouri|02-14-2021|      Apple MacOS|  17841| 7812|
|  Mobile|          Iowa|06-19-2021|        Apple iOS|  17841| 7812|
|  Tablet|         Maine|05-05-2021|Microsoft Windows|  17841| 7812|
|  Mobile|     Tennessee|04-26-2021|            Linux|  17841| 7812|
|Computer|        Nevada|02-03-2021|Microsoft Windows|  17841| 7812|
|Computer|      Lousiana|10-23-2021|        Apple iOS|  17841| 7812|
|  Tablet|        Nevada|04-11-2021|   Google Android|  17841| 7812|
|Computer|    New Mexico|01-07-2021|        Apple iOS|  17841| 7812|
|Computer|South Carolina|06-02-2021|            Linux|  17841| 7812|
|  Mobile|        Alaska|08-09-2021|            Linux|  17841| 7812|
|  Mobile|       Montana|05-02-2021|Microsoft Windows|  17841| 7812|
|  Mobile|        Alaska|09-06-2021|   Google Android|  17841| 7812|
|Computer| Massachussets|06-18-2021|   Google Android|  17841| 7812|
|  Mobile|        Nevada|09-20-2021|            Linux|  17841| 7812|
|  Tablet|    California|01-05-2021|   Google Android|  17841| 7812|
|Computer|      Arkansas|05-21-2021|   Google Android|  17841| 7812|
+--------+--------------+----------+-----------------+-------+-----+
only showing top 20 rows

In [ ]:
movie_log_review.filter(col('user_id') == '12621').show()

+--------+------------+--------------+----------+-----------------+------------+---------+-------+---------------+---------+
|  device|   ipAddress|      location|   logDate|               os| phoneNumber|id_review|user_id|positive_review|review_id|
+--------+------------+--------------+----------+-----------------+------------+---------+-------+---------------+---------+
|Computer|9.200.232.57|   Pensylvania|05-19-2021|   Google Android|613-168-9271|      283|  12621|              0|      283|
|  Tablet|9.200.232.57|  South Dakota|06-24-2021|            Linux|528-833-3953|      382|  12621|              0|      382|
|Computer|9.200.232.57|        Oregon|06-16-2021|   Google Android|199-397-1017|     1972|  12621|              0|     1972|
|Computer|9.200.232.57| New Hampshire|01-09-2021|      Apple MacOS|172-405-0438|     3035|  12621|              0|     3035|
|  Mobile|9.200.232.57|     Minnesota|01-04-2021|      Apple MacOS|787-346-9961|     3774|  12621|              1|     3774|
|Computer|9.200.232.57|North Carolina|07-30-2021|   Google Android|295-387-6492|     3907|  12621|              1|     3907|
|  Tablet|9.200.232.57|      Illinois|04-09-2021|Microsoft Windows|724-274-0570|     4462|  12621|              1|     4462|
|Computer|9.200.232.57|         Maine|07-28-2021|            Linux|774-516-5798|     4498|  12621|              0|     4498|
|  Mobile|9.200.232.57|   Mississippi|09-20-2021|            Linux|676-566-2024|     5630|  12621|              0|     5630|
|  Tablet|9.200.232.57|     Minnesota|05-18-2021|   Google Android|663-072-0007|     5671|  12621|              0|     5671|
|  Mobile|9.200.232.57|     Minnesota|05-09-2021|            Linux|519-507-0879|     6136|  12621|              0|     6136|
|  Mobile|9.200.232.57|      Illinois|02-13-2021|Microsoft Windows|578-131-9471|     6684|  12621|              1|     6684|
|Computer|9.200.232.57|  North Dakota|06-15-2021|        Apple iOS|394-837-4488|     7733|  12621|              0|     7733|
|  Mobile|9.200.232.57|       Arizona|09-08-2021|            Linux|950-543-0581|     8159|  12621|              0|     8159|
|  Mobile|9.200.232.57|   Pensylvania|08-12-2021|Microsoft Windows|226-171-3523|     8396|  12621|              0|     8396|
|Computer|9.200.232.57|       Georgia|10-03-2021|   Google Android|159-319-5859|     8442|  12621|              0|     8442|
|  Tablet|9.200.232.57|   Pensylvania|08-07-2021|Microsoft Windows|884-253-0006|    10061|  12621|              1|    10061|
|Computer|9.200.232.57|     Minnesota|03-13-2021|   Google Android|629-878-4184|    11209|  12621|              1|    11209|
|  Tablet|9.200.232.57| Massachussets|02-08-2021|   Google Android|228-121-2344|    11638|  12621|              0|    11638|
|Computer|9.200.232.57| New Hampshire|08-31-2021|      Apple MacOS|188-152-0354|    11959|  12621|              1|    11959|
+--------+------------+--------------+----------+-----------------+------------+---------+-------+---------------+---------+
only showing top 20 rows

In [ ]:
print(user_purchase_stage_.count())
print(user_purchase_stage_.groupBy('customer_id', 'invoice_number').count())
user_purchase_stage_.groupBy('customer_id', 'invoice_number', 'stock_code', 'invoice_date').count().orderBy(col('count').desc()).show(10)

406828
DataFrame[customer_id: bigint, invoice_number: string, count: bigint]
+-----------+--------------+----------+-------------------+-----+
|customer_id|invoice_number|stock_code|       invoice_date|count|
+-----------+--------------+----------+-------------------+-----+
|      16923|        555524|     22698|2011-06-05 11:37:00|   20|
|      16923|        555524|     22697|2011-06-05 11:37:00|   12|
|      14102|        572861|     22775|2011-10-26 12:46:00|    8|
|      17841|        578289|     23395|2011-11-23 14:07:00|    7|
|      14607|        572344|         M|2011-10-24 10:43:00|    7|
|      18022|        574481|     23084|2011-11-04 12:45:00|    6|
|      16735|        540524|     21756|2011-01-09 12:53:00|    6|
|      15044|        538514|     21756|2010-12-12 14:27:00|    6|
|      15673|        541266|     21755|2011-01-16 16:25:00|    6|
|      15673|        541266|     21754|2011-01-16 16:25:00|    6|
+-----------+--------------+----------+-------------------+-----+
only showing top 10 rows

In [ ]:
user_purchase_stage_.printSchema()

root
 |-- country: string (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- detail: string (nullable = true)
 |-- invoice_date: timestamp (nullable = true)
 |-- invoice_number: string (nullable = true)
 |-- quantity: long (nullable = true)
 |-- stock_code: string (nullable = true)
 |-- unit_price: double (nullable = true)

In [ ]:
user_purchase_stage_.drop_duplicates().count()

401603

In [ ]:
user_purchase_stage_.filter(
    (col('customer_id') == 14607) &
    (col('invoice_number') == "572344") &
    (col('stock_code') == "M")
).show()

+--------------+-----------+------+-------------------+--------------+--------+----------+----------+
|       country|customer_id|detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+--------------+-----------+------+-------------------+--------------+--------+----------+----------+
|United Kingdom|      14607|Manual|2011-10-24 10:43:00|        572344|     456|         M|       1.5|
|United Kingdom|      14607|Manual|2011-10-24 10:43:00|        572344|      48|         M|       1.5|
|United Kingdom|      14607|Manual|2011-10-24 10:43:00|        572344|      48|         M|       1.5|
|United Kingdom|      14607|Manual|2011-10-24 10:43:00|        572344|      48|         M|       1.5|
|United Kingdom|      14607|Manual|2011-10-24 10:43:00|        572344|      48|         M|       1.5|
|United Kingdom|      14607|Manual|2011-10-24 10:43:00|        572344|      48|         M|       1.5|
|United Kingdom|      14607|Manual|2011-10-24 10:43:00|        572344|      48|         M|       1.5|
+--------------+-----------+------+-------------------+--------------+--------+----------+----------+

In [ ]:
print(
user_purchase_stage_.filter(
    (col('customer_id') == 12347)
    #  &
    # (col('invoice_number') == "572344") &
    # (col('stock_code') == "M")
).drop_duplicates().orderBy(col('stock_code')).count()

)

user_purchase_stage_.filter(
    # (col('customer_id') == 14607) &
    # (col('invoice_number') == "572344") &
    (col('detail') == "Manual")
).show()

182
+--------------+-----------+------+-------------------+--------------+--------+----------+----------+
|       country|customer_id|detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+--------------+-----------+------+-------------------+--------------+--------+----------+----------+
|United Kingdom|      14410|Manual|2011-03-28 12:13:00|        547906|       2|         M|       0.5|
|United Kingdom|      16788|Manual|2011-03-30 13:05:00|        548327|       1|         M|      1.65|
|United Kingdom|      16422|Manual|2011-03-31 11:42:00|       C548454|      -1|         M|       5.7|
|United Kingdom|      16422|Manual|2011-03-31 11:42:00|       C548454|      -1|         M|      7.88|
|United Kingdom|      16422|Manual|2011-03-31 11:42:00|       C548454|      -1|         M|      0.22|
|United Kingdom|      16422|Manual|2011-03-31 11:42:00|       C548454|      -1|         M|      57.6|
|United Kingdom|      16422|Manual|2011-03-31 11:49:00|       C548456|      -1|         M|      57.6|
|United Kingdom|      14527|Manual|2011-03-31 12:08:00|        548461|       2|         M|       0.5|
|United Kingdom|      14543|Manual|2011-03-31 12:32:00|       C548469|      -1|         M|     12.75|
|United Kingdom|      14543|Manual|2011-03-31 12:32:00|       C548469|      -2|         M|     10.95|
|United Kingdom|      14525|Manual|2011-03-31 18:44:00|       C548543|     -12|         M|      3.75|
|United Kingdom|      17841|Manual|2011-08-05 11:19:00|        562460|       6|         M|      0.85|
|United Kingdom|      14543|Manual|2011-04-01 10:43:00|        548568|       1|         M|     12.75|
|United Kingdom|      14543|Manual|2011-04-01 10:43:00|        548568|       2|         M|     10.95|
|United Kingdom|      16960|Manual|2011-04-01 11:54:00|        548621|       3|         M|      0.65|
|United Kingdom|      13184|Manual|2011-04-01 12:24:00|        548631|       1|         M|       1.0|
|     Singapore|      12744|Manual|2011-04-04 13:03:00|        548813|       1|         M|     162.6|
|     Singapore|      12744|Manual|2011-04-04 13:03:00|        548813|       1|         M|   2382.92|
|     Singapore|      12744|Manual|2011-04-04 13:03:00|        548813|       1|         M|     239.3|
|     Singapore|      12744|Manual|2011-04-04 13:03:00|        548813|       1|         M|   1252.95|
+--------------+-----------+------+-------------------+--------------+--------+----------+----------+
only showing top 20 rows

In [ ]:
print(
user_purchase_stage_.filter(
    (col('customer_id') == 12347)
    #  &
    # (col('invoice_number') == "572344") &
    # (col('stock_code') == "M")
).drop_duplicates().orderBy(col('stock_code')).count()

)

user_purchase_stage_.filter(
    (col('customer_id') == 12347)
    #  &
    # (col('invoice_number') == "572344") &
    # (col('stock_code') == "M")
).drop_duplicates().orderBy(col('stock_code')).show()

182
+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|country|customer_id|              detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|Iceland|      12347|SMALL FOLDING SCI...|2011-04-07 10:43:00|        549222|      24|     16008|      0.25|
|Iceland|      12347|NAMASTE SWAGAT IN...|2011-06-09 13:01:00|        556201|      36|     17021|       0.3|
|Iceland|      12347|RED RETROSPOT PURSE |2011-04-07 10:43:00|        549222|       6|     20665|      2.95|
|Iceland|      12347|WOODLAND CHARLOTT...|2011-08-02 08:48:00|        562032|      10|     20719|      0.85|
|Iceland|      12347|WOODLAND CHARLOTT...|2011-10-31 12:25:00|        573511|      10|     20719|      0.85|
|Iceland|      12347|WOODLAND CHARLOTT...|2011-01-26 14:30:00|        542237|      10|     20719|      0.85|
|Iceland|      12347|WOODLAND CHARLOTT...|2011-12-07 15:52:00|        581180|      10|     20719|      0.85|
|Iceland|      12347|BLACK EAR MUFF HE...|2010-12-07 14:57:00|        537626|      12|     20780|      4.65|
|Iceland|      12347|CAMOUFLAGE EAR MU...|2010-12-07 14:57:00|        537626|       6|     20782|      5.49|
|Iceland|      12347|SANDWICH BATH SPONGE|2011-01-26 14:30:00|        542237|      10|     20966|      1.25|
|Iceland|      12347|SET/2 RED RETROSP...|2011-01-26 14:30:00|        542237|       6|     21035|      2.95|
|Iceland|      12347|RED RETROSPOT OVE...|2011-01-26 14:30:00|        542237|       6|     21041|      2.95|
|Iceland|      12347|RED RETROSPOT OVE...|2011-04-07 10:43:00|        549222|       6|     21041|      2.95|
|Iceland|      12347|BOOM BOX SPEAKER ...|2011-12-07 15:52:00|        581180|      24|     21064|      1.25|
|Iceland|      12347|BOOM BOX SPEAKER ...|2010-12-07 14:57:00|        537626|       6|     21064|      5.95|
|Iceland|      12347|RED RETROSPOT OVE...|2011-01-26 14:30:00|        542237|      10|     21154|      1.25|
|Iceland|      12347|BATHROOM METAL SIGN |2010-12-07 14:57:00|        537626|      12|     21171|      1.45|
|Iceland|      12347|PINK GOOSE FEATHE...|2011-12-07 15:52:00|        581180|      12|     21265|      1.95|
|Iceland|      12347|PINK GOOSE FEATHE...|2011-10-31 12:25:00|        573511|      12|     21265|      1.95|
|Iceland|      12347|WOODLAND DESIGN  ...|2011-08-02 08:48:00|        562032|       6|     21578|      2.25|
+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
only showing top 20 rows

In [ ]:
print(movie_log_review.count())
print(movie_log_review.drop_duplicates().filter(
    (col('user_id') == 12347)).count())
movie_log_review.drop_duplicates().filter(
    (col('user_id') == 12347)).orderBy(col('location'), col('user_id')).show(10, truncate=False)

100000
131
+--------+------------+--------+----------+-----------------+------------+---------+-------+---------------+---------+
|device  |ipAddress   |location|logDate   |os               |phoneNumber |id_review|user_id|positive_review|review_id|
+--------+------------+--------+----------+-----------------+------------+---------+-------+---------------+---------+
|Tablet  |9.200.232.57|Alabama |03-16-2021|Microsoft Windows|259-532-7569|14466    |12347  |1              |14466    |
|Mobile  |9.200.232.57|Alabama |05-28-2021|Apple iOS        |413-477-2248|74876    |12347  |0              |74876    |
|Tablet  |9.200.232.57|Alabama |01-31-2021|Google Android   |620-647-1582|37628    |12347  |0              |37628    |
|Mobile  |9.200.232.57|Alaska  |01-09-2021|Microsoft Windows|201-698-7509|44271    |12347  |0              |44271    |
|Computer|9.200.232.57|Alaska  |01-06-2021|Google Android   |344-203-9341|32540    |12347  |0              |32540    |
|Tablet  |9.200.232.57|Alaska  |06-14-2021|Linux            |866-064-6177|55573    |12347  |0              |55573    |
|Mobile  |9.200.232.57|Arizona |03-02-2021|Linux            |935-586-1989|19727    |12347  |0              |19727    |
|Computer|9.200.232.57|Arizona |01-11-2021|Google Android   |794-249-7548|66690    |12347  |1              |66690    |
|Tablet  |9.200.232.57|Arizona |03-29-2021|Google Android   |176-272-6104|39101    |12347  |0              |39101    |
|Computer|9.200.232.57|Arizona |08-21-2021|Apple iOS        |453-570-2132|76529    |12347  |1              |76529    |
+--------+------------+--------+----------+-----------------+------------+---------+-------+---------------+---------+
only showing top 10 rows

In [ ]:
131*182

23842

In [ ]:
print(
movie_log_user_review.filter(
    (col('customer_id') == 12347)
    #  &
    # (col('invoice_number') == "572344") &
    # (col('stock_code') == "M")
).drop_duplicates().orderBy(col('location'), col('user_id')).count()

)

movie_log_user_review.filter(
    (col('customer_id') == 12347)
    #  &
    # (col('invoice_number') == "572344") &
    # (col('stock_code') == "M")
).drop_duplicates().orderBy(col('location'), col('user_id')).show()

23842
+------+------------+--------+----------+-----------------+------------+---------+-------+---------------+---------+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|device|   ipAddress|location|   logDate|               os| phoneNumber|id_review|user_id|positive_review|review_id|country|customer_id|              detail|       invoice_date|invoice_number|quantity|stock_code|unit_price|
+------+------------+--------+----------+-----------------+------------+---------+-------+---------------+---------+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
|Tablet|9.200.232.57| Alabama|01-31-2021|   Google Android|620-647-1582|    37628|  12347|              0|    37628|Iceland|      12347|SET/2 RED RETROSP...|2011-01-26 14:30:00|        542237|       6|     21035|      2.95|
|Tablet|9.200.232.57| Alabama|03-16-2021|Microsoft Windows|259-532-7569|    14466|  12347|              1|    14466|Iceland|      12347|AIRLINE BAG VINTA...|2011-06-09 13:01:00|        556201|       4|     22375|      4.25|
|Tablet|9.200.232.57| Alabama|01-31-2021|   Google Android|620-647-1582|    37628|  12347|              0|    37628|Iceland|      12347|AIRLINE BAG VINTA...|2011-10-31 12:25:00|        573511|       4|     22372|      4.25|
|Tablet|9.200.232.57| Alabama|01-31-2021|   Google Android|620-647-1582|    37628|  12347|              0|    37628|Iceland|      12347|PANTRY HOOK TEA S...|2011-10-31 12:25:00|        573511|      12|     23420|      2.08|
|Tablet|9.200.232.57| Alabama|01-31-2021|   Google Android|620-647-1582|    37628|  12347|              0|    37628|Iceland|      12347|AIRLINE BAG VINTA...|2011-06-09 13:01:00|        556201|       4|     22375|      4.25|
|Tablet|9.200.232.57| Alabama|01-31-2021|   Google Android|620-647-1582|    37628|  12347|              0|    37628|Iceland|      12347|AIRLINE BAG VINTA...|2011-08-02 08:48:00|        562032|       4|     22372|      4.25|
|Tablet|9.200.232.57| Alabama|03-16-2021|Microsoft Windows|259-532-7569|    14466|  12347|              1|    14466|Iceland|      12347|PINK NEW BAROQUEC...|2011-12-07 15:52:00|        581180|      24|    84625A|      0.85|
|Mobile|9.200.232.57| Alabama|05-28-2021|        Apple iOS|413-477-2248|    74876|  12347|              0|    74876|Iceland|      12347|3D SHEET OF CAT S...|2011-04-07 10:43:00|        549222|      12|    84559B|      0.85|
|Tablet|9.200.232.57| Alabama|01-31-2021|   Google Android|620-647-1582|    37628|  12347|              0|    37628|Iceland|      12347|WOODLAND CHARLOTT...|2011-01-26 14:30:00|        542237|      10|     20719|      0.85|
|Mobile|9.200.232.57| Alabama|05-28-2021|        Apple iOS|413-477-2248|    74876|  12347|              0|    74876|Iceland|      12347|EMERGENCY FIRST A...|2010-12-07 14:57:00|        537626|      12|     22494|      1.25|
|Tablet|9.200.232.57| Alabama|01-31-2021|   Google Android|620-647-1582|    37628|  12347|              0|    37628|Iceland|      12347|PINK DRAWER KNOB ...|2010-12-07 14:57:00|        537626|      12|     22772|      1.25|
|Tablet|9.200.232.57| Alabama|01-31-2021|   Google Android|620-647-1582|    37628|  12347|              0|    37628|Iceland|      12347| PANTRY HOOK SPATULA|2011-10-31 12:25:00|        573511|      12|     23421|      2.08|
|Mobile|9.200.232.57| Alabama|05-28-2021|        Apple iOS|413-477-2248|    74876|  12347|              0|    74876|Iceland|      12347|  RABBIT NIGHT LIGHT|2011-06-09 13:01:00|        556201|      12|     23084|      2.08|
|Tablet|9.200.232.57| Alabama|03-16-2021|Microsoft Windows|259-532-7569|    14466|  12347|              1|    14466|Iceland|      12347|AIRLINE BAG VINTA...|2011-08-02 08:48:00|        562032|       4|     22376|      4.25|
|Mobile|9.200.232.57| Alabama|05-28-2021|        Apple iOS|413-477-2248|    74876|  12347|              0|    74876|Iceland|      12347|PACK OF 60 DINOSA...|2011-04-07 10:43:00|        549222|      24|     21975|      0.55|
|Tablet|9.200.232.57| Alabama|03-16-2021|Microsoft Windows|259-532-7569|    14466|  12347|              1|    14466|Iceland|      12347|3D SHEET OF CAT S...|2011-04-07 10:43:00|        549222|      12|    84559B|      0.85|
|Tablet|9.200.232.57| Alabama|01-31-2021|   Google Android|620-647-1582|    37628|  12347|              0|    37628|Iceland|      12347|SET/3 DECOUPAGE S...|2010-12-07 14:57:00|        537626|       3|    85232D|      4.95|
|Tablet|9.200.232.57| Alabama|01-31-2021|   Google Android|620-647-1582|    37628|  12347|              0|    37628|Iceland|      12347|PLAYING CARDS KEE...|2011-10-31 12:25:00|        573511|      12|     23503|      1.25|
|Tablet|9.200.232.57| Alabama|01-31-2021|   Google Android|620-647-1582|    37628|  12347|              0|    37628|Iceland|      12347|3D SHEET OF CAT S...|2011-04-07 10:43:00|        549222|      12|    84559B|      0.85|
|Mobile|9.200.232.57| Alabama|05-28-2021|        Apple iOS|413-477-2248|    74876|  12347|              0|    74876|Iceland|      12347|PINK NEW BAROQUEC...|2011-12-07 15:52:00|        581180|      24|    84625A|      0.85|
+------+------------+--------+----------+-----------------+------------+---------+-------+---------------+---------+-------+-----------+--------------------+-------------------+--------------+--------+----------+----------+
only showing top 20 rows